
.block3{
text-align: center;
}

.body2{
line-height: 13pt;
text-align: left;
padding: 1rem 1rem;
}

.p2{
	font-size: 12pt;
	line-height: 14pt;
}
.ss {
	font-family:'Helvetica';
	padding-top: 1rem;
  }
  
.ss1 {
	font-family:'Helvetica';
	font-weight: lighter;
	line-height: 16pt;
  }
  
  .ss2 {
	font-size: 50pt;
	padding-top: 1rem;
  }
  
  .ss3 {
	font-family: 'SuisseBPIntl-AntiqueItalic';
  }
  
  .ss4 {
	font-size: 26.4px;
  }
  
  .ss5 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 45pt;
  }
  
  .ss6 {
	font-family:'SuisseBPIntl-Antique';
	padding-left: 40px;
	font-size: 43pt;
	padding-top: -20px;
  }
  
  .ss7 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 26.4px;
	margin-left: 10pt;
	line-height: 18pt;
  }
  
  .ss8 {
	font-family: Helvetica;
	font-weight: bold;
	padding-top: 1rem;
	font-size: 23pt;
	line-height: 20pt;
  }


  .ss9 {
	font-family:'SuisseBPIntl-Antique';
	font-size: 40px;
	margin-left: 10pt;
  }
  
  .ss10 {
	font-family:'Steinbeck';
	font-size: 12px;
	text-decoration: none;
	color: white;
  }
  

  .ss11 {
	font-family:'Steinbeck';
	font-size: 10px;
	font-weight: lighter;
	line-height: 12pt;
  }

  .ss12 {
	font-family:'SuisseBPIntl-Antique';
  }

  .ss13 {
	padding-left: .5em;
	font-size: 30pt;
  }

  .ssb{
	font-weight: bolder;
  }

 
 /*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
		font-family: 'SuisseBPIntl-Antique';
		src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'SuisseBPIntl-AntiqueItalic';
		src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'Suisse-Intl-Light';
		src: url('fonts/Suisseintllight.woff2') format('woff2');
		font-weight: 100;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'Steinbeck';
		src: url('fonts/Steinbeck.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }

	  @font-face {
		font-family: 'ITC Garamond';
		src: url('fonts/ITCGaramond.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }

	  @font-face {
		font-family: 'Roslindale Regular';
		src: url('fonts/RoslindaleText-Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }

	  @font-face {
		src: url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff2') format("woff2"),
			 url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff') format("woff");
		font-family: 'Roslindale';
		font-style: normal;
		font-weight: 200;
	  }

*,
*::after,
*::before {
	box-sizing: border-box;
	cursor: auto;
}

:root {
	font-size: 13px;
}

body {
	width: 100%;
	overflow: visible;
	overflow-y: scroll;
	margin: 0;
	--color-text: #101010;
	--color-bg: #fbf9f4;
	--color-link: #101010;
	--color-link-hover: #00a6d0;
	--color-menu: #101010;
	--color-menu-hover: #00a6d0;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: Helvetica;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--title-size-fallback: 7vw;
	--title-size: clamp(4rem, 7vw, 10rem);
	--cursor-stroke:var(--color-link-hover);
    --cursor-stroke-width: 1px;
}


@keyframes letterSwitch {
	to {
		text-indent: -10ch;
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}


.frame {
	text-transform: uppercase;
	padding: 2rem 1rem;
	font-family: soleil, sans-serif;
}


.block {
	padding: 1rem 1rem;
}

.block2 {
	padding: 1rem 1rem;
}

.block3 {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.block4 {
	padding: 1rem 2rem;
}


.cursor {
	display: none;
}

@media screen and (min-width: 53em) {
	.block {
		padding: 2rem 10rem;
	}

	.frame {
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		display: flex;
		z-index: 1000;
		-webkit-writing-mode: vertical-lr;
		-ms-writing-mode: tb-lr;
		writing-mode: vertical-lr;
		align-items: flex-end;
    	padding: 2rem 0.35rem 0 0;
    	transform: rotate(180deg);
	}
	.frame__title {
		margin: 0;
	}
	.frame__links {
		margin: 15vh 0 0 0;
	}
	.frame__links a {
		margin-top: 1.25rem;
	}
	.bg-gallery {
		height: 100vh;
		max-height: none;
	}
	.menu,
	.content {
		width: 50vw;
		max-width: 1000px;
	}
	.content {
		grid-template-areas: "back back" 
						"title title" 
						"intro date"
						"gallery gallery";
	}	
}


@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		mix-blend-mode: color-burn;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
	.no-js .cursor {
		display: none;
	}
}

@media screen and (max-width: 50em) {
	
	.frame{
	padding-left: 3em;
	}
	.menu{
	margin-top: -15em;
	padding-left: 3em;
	}
	.gallery, .content__intro, .icon, .icon--arrow{
	margin-left: 1em;}
	.gallery{
	padding-left:1em;}

	.content__date{
	margin-right:2em;
	}
	.content__title{
	margin-left:.4em;
	}

}

/* SLIDESHOW */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  cursor: pointer;
  color: #101010;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  user-select: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #101010;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (min-width: 500px) {
	.slideshow-container{
		width:400px;
	}
}

/* RESPONSIVE SLIDESHOW */
 
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }