
/*
------------------------------------------------------------------
MY STYLE
------------------------------------------------------------------
*/

* {
	font-family: Helvetica;
	cursor: auto;
	text-decoration: none;
  }
  
  .a{
	font-size: 26.4px;
  }
  
  .ss {
	font-family:'Helvetica';
	padding-top: 1rem;
  }
  
  .ss1 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss2 {
	font-size: 50pt;
	padding-top: 1rem;
  }
  
  .ss3 {
	font-family: 'SuisseBPIntl-AntiqueItalic';
  }
  
  .ss4 {
	font-size: 26.4px;
  }
  
  .ss5 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 45pt;
  }
  
  .ss6 {
	font-family:'SuisseBPIntl-Antique';
	font-weight: ;
	font-size: 43pt;
  }
  
  .ss7 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss8 {
	font-family:'Steinbeck';
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: red;
  }
  
  .ss9 {
	font-family:'SuisseBPIntl-Antique';
	font-size: 26.4px;
	margin-left: 10pt;
  }

  .ss10 {
	font-family:'Steinbeck';
	font-size: 12px;
	text-decoration: none;
	color: white;
  }
  

  .ss11 {
	font-family:'Steinbeck';
	font-size: 10px;
	font-weight: lighter;
  }
  
  
  
   /*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
	  font-family: 'SuisseBPIntl-Antique';
	  src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'SuisseBPIntl-AntiqueItalic';
	  src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Suisse-Intl-Light';
	  src: url('fonts/Suisseintllight.woff2') format('woff2');
	  font-weight: 100;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Steinbeck';
	  src: url('fonts/Steinbeck.woff') format('woff');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
  
  /*
  ------------------------------------------------------------------
  NEW GRID
  ------------------------------------------------------------------
  */
  
  
	.div-block {
	  padding-top: 1rem;
	  cursor: auto;
	}
  }
  
  /*-- blank block footer --*/
  
  .div-block2 {
	padding-top: 2rem;
	cursor: auto;
  }
  
  /*-- blank block extra --*/
  
  .div-block3 {
	padding-top: 1rem;
	cursor: auto;
  }
  

  /*
  ------------------------------------------------------------------
  BACKGROUND IMAGE GRID
  ------------------------------------------------------------------
  */
  
  *,
  *::after,
  *::before {
	  cursor:auto;
	  box-sizing: border-box;
  }


  :root {
	  font-size: 18px;
  }
  
  html, 
  body, 
  main {
	  height: 100%;
	  width: 100%;
	  position: relative;
	  overflow: hidden;
  }
  
  body {
	  margin: 0;
	  overflow: visible;
	  overflow-y: scroll;
	  --color-text: #d00000;
	  --color-bg: #ffffff;
	  --color-link: #a2a2a2;
	  --color-link-hover: #d00000;
	  --color-content-title-sub: rgb(63, 63, 63);
	  color: var(--color-text);
	  background-color: var(--color-bg);
	  --cursor-stroke: #ff0000;
	  --cursor-fill: none;
	  --cursor-stroke-width: 1px;
	  font-family: Helvetica;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  a {
	  text-decoration: none;
	  color: black;
	  outline: none;
  }
  
  a:hover,
  a:focus {
	  text-decoration: none;
	  color: var(--color-link-hover);
	  outline: none;
  }
  
  
  .frame {
	  padding: 3rem 5vw;
	  text-align: center;
	  z-index: 1000;
  }


  .content {
	  display: flex;
	  flex-direction: column;
	  width: auto;
	  height: calc(100vh - 13rem);
	  position: relative;
	  align-items: center;
	  justify-content: center;
	  max-height: 300px;
	  color: #000000;
  }
  .content__title {
	  font-family: 'SuisseBPIntl-Antique';
	  font-weight: 400;
	  font-size: 6vw;
	  margin: 0;
	  line-height: 1;
	  position: relative;
	  color: black;
  }
  
  .content__title-sub {
	  color: #00a6d0;
	  font-size: 4vw;
	  display: block;
	  line-height: 0.5;
	  font-family: Helvetica, sans-serif;
  }


@media screen and (max-width 600){
  .content__title-sub {
	font-size: 4vw;
	display: block;
	line-height: 0.5;
	font-family: Helvetica, sans-serif;
}}


