*{
font-family:'SuisseBPIntl-Antique';
}

.lh-copy {
    line-height: 1.5;
}

.pa3 {
    padding: 1rem;
}

.f3 {
    font-size: 1.5rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .pa5-ns {
        padding: 4rem;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .f1-m {
        font-size: 3rem;
    }
}

@media screen and (min-width: 60em) {
    .f-headline-l {
        font-size: 6rem;
    }
}

/*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
		font-family: 'SuisseBPIntl-Antique';
		src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'SuisseBPIntl-AntiqueItalic';
		src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'Suisse-Intl-Light';
		src: url('fonts/Suisseintllight.woff2') format('woff2');
		font-weight: 100;
		font-style: normal;
		font-display: auto;
	  }
	
	  @font-face {
		font-family: 'Steinbeck';
		src: url('fonts/Steinbeck.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }

	  @font-face {
		font-family: 'ITC Garamond';
		src: url('fonts/ITCGaramond.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: auto;
	  }
	


      .navbar {
        position: fixed;
        z-index: 10;
        width: 100%;
        -webkit-transform: translateZ(0);
                transform: translateZ(0); }


/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
 .mobile-menu-style_1 .burger-wrap,
 .mobile-menu-style_3 .burger-wrap {
   z-index: 33; }
 
 .lay-mobile-icons-wrap {
   z-index: 33;
   top: 0;
   right: 0;
   vertical-align: top; }
 
 .burger-wrap {
   padding-left: 10px;
   font-size: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   display: inline-block;
   cursor: pointer;
   vertical-align: top; }
 
 .burger-inner {
   position: relative; }
 
 .burger-default {
   border-radius: 0;
   overflow: hidden;
   margin: 0;
   padding: 0;
   width: 25px;
   height: 20px;
   font-size: 0;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   -webkit-box-shadow: none;
           box-shadow: none;
   border-radius: none;
   border: none;
   cursor: pointer;
   background-color: transparent; }
 
 .burger-default:focus {
   outline: none; }
 
 .burger-default span {
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   background-color: #000; }
 
 .default .burger-default span {
   height: 2px;
   top: 9px; }
 
 .default .burger-default span::before,
 .default .burger-default span::after {
   height: 2px; }
 
 .default .burger-default span::before {
   top: -8px; }
 
 .default .burger-default span::after {
   bottom: -8px; }
 
 .default_thin .burger-default span {
   height: 1px;
   top: 9px; }
 
 .default_thin .burger-default span::before,
 .default_thin .burger-default span::after {
   height: 1px; }
 
 .default_thin .burger-default span::before {
   top: -7px; }
 
 .default_thin .burger-default span::after {
   bottom: -7px; }
 
 .burger-default span::before,
 .burger-default span::after {
   position: absolute;
   display: block;
   left: 0;
   width: 100%;
   background-color: #000;
   content: ""; }
 
 /**
  * Style 2
  *
  * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
  * down to center and transform into an "x".
  */
 .burger-has-animation .burger-default {
   -webkit-transition: background 0.2s;
   -o-transition: background 0.2s;
   transition: background 0.2s; }
 
 .burger-has-animation .burger-default span {
   -webkit-transition: background-color 0.2s 0s;
   -o-transition: background-color 0.2s 0s;
   transition: background-color 0.2s 0s; }
 
 .burger-has-animation .burger-default span::before,
 .burger-has-animation .burger-default span::after {
   -webkit-transition-timing-function: cubic-bezier(0.04, 0.04, 0.12, 0.96);
        -o-transition-timing-function: cubic-bezier(0.04, 0.04, 0.12, 0.96);
           transition-timing-function: cubic-bezier(0.04, 0.04, 0.12, 0.96);
   -webkit-transition-duration: 0.2s, 0.2s;
        -o-transition-duration: 0.2s, 0.2s;
           transition-duration: 0.2s, 0.2s;
   -webkit-transition-delay: 0.2s, 0s;
        -o-transition-delay: 0.2s, 0s;
           transition-delay: 0.2s, 0s; }
 
 .burger-has-animation .burger-default span::before {
   transition-property: top, -webkit-transform;
   -o-transition-property: top, transform;
   transition-property: top, transform;
   transition-property: top, transform, -webkit-transform;
   -webkit-transition-property: top, -webkit-transform; }
 
 .burger-has-animation .burger-default span::after {
   transition-property: bottom, -webkit-transform;
   -o-transition-property: bottom, transform;
   transition-property: bottom, transform;
   transition-property: bottom, transform, -webkit-transform;
   -webkit-transition-property: bottom, -webkit-transform; }
 
 .burger-has-animation .burger-default.active span::before,
 .burger-has-animation .burger-default.active span::after {
   -webkit-transition-delay: 0s, 0.2s;
        -o-transition-delay: 0s, 0.2s;
           transition-delay: 0s, 0.2s; }
 
 /* active state, i.e. menu open */
 .burger-default.active span {
   background-color: transparent !important; }
 
 .burger-default.active span::before {
   -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
           transform: rotate(45deg);
   top: 0; }
 
 .burger-default.active span::after {
   -webkit-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
           transform: rotate(-45deg);
   bottom: 0; }
 
 .mobile-menu-icon {
   z-index: 31; }
 
 .mobile-menu-icon {
   cursor: pointer; }
 
 .burger-custom-wrap-close {
   display: none; }
 
 body.mobile-menu-style_2 .mobile-nav .burger-custom-wrap-close {
   display: inline-block; }
 
 body.mobile-menu-style_2 .burger-custom-wrap-open {
   display: inline-block; }
 
 body.mobile-menu-open.mobile-menu-style_3 .burger-custom-wrap-close,
 body.mobile-menu-open.mobile-menu-style_1 .burger-custom-wrap-close {
   display: inline-block; }
 
 body.mobile-menu-open.mobile-menu-style_3 .burger-custom-wrap-open,
 body.mobile-menu-open.mobile-menu-style_1 .burger-custom-wrap-open {
   display: none; }

   /**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
body.mobile_menu_bar_not_hidden .burger-wrap-new {
    padding-right: 5px; }
  
  body.mobile_menu_bar_not_hidden .lay-mobile-icons-wrap.contains-cart-icon .burger-wrap-new {
    padding-top: 6px; }
  
  .burger-wrap-new.burger-wrap {
    padding-left: 5px;
    padding-right: 5px; }
  
  .lay-mobile-icons-wrap.contains-cart-icon.custom-burger .lay-cart-icon-wrap {
    padding-top: 0; }
  
  .burger-new {
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    background-color: transparent; }
  
  .burger-new:focus {
    outline: none; }
  
  .burger-new .bread-top,
  .burger-new .bread-bottom {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    z-index: 4;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px; }
  
  .burger-has-animation .bread-top,
  .burger-has-animation .bread-bottom {
    -webkit-transition: -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -o-transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96); }
  
  .burger-has-animation .bread-crust-bottom,
  .burger-has-animation .bread-crust-top {
    -webkit-transition: -webkit-transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
    transition: -webkit-transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
    -o-transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
    transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
    transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s, -webkit-transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s; }
  
  .burger-has-animation .burger-new.active .bread-top, .burger-has-animation .burger-new.active .bread-bottom {
    -webkit-transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transition: -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    -o-transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s, -webkit-transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s; }
  
  .burger-has-animation .burger-new.active .bread-crust-bottom, .burger-has-animation .burger-new.active .bread-crust-top {
    -webkit-transition: -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    -o-transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96); }
  
  .burger-new .bread-crust-top,
  .burger-new .bread-crust-bottom {
    display: block;
    width: 17px;
    height: 1px;
    background: #000;
    position: absolute;
    left: 7px;
    z-index: 1; }
  
  .bread-crust-top {
    top: 14px;
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px); }
  
  .bread-crust-bottom {
    bottom: 14px;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px); }
  
  .burger-new.active .bread-top {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  
  .burger-new.active .bread-crust-bottom {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  
  .burger-new.active .bread-bottom {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  
  .burger-new.active .bread-crust-top {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  