
/*
------------------------------------------------------------------
MY STYLE
------------------------------------------------------------------
*/

* {
	font-family:'SuisseBPIntl-Antique';
	color: black;
	cursor: auto;
	text-decoration: none;
  }
  
  .a{
	font-size: 26.4px;
  }
  
  .ss {
	font-family:'Helvetica';
	padding-top: 1rem;
  }
  
  .ss1 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss2 {
	font-size: 50pt;
	padding-top: 1rem;
  }
  
  .ss3 {
	font-family: 'SuisseBPIntl-AntiqueItalic';
  }
  
  .ss4 {
	font-size: 26.4px;
  }
  
  .ss5 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 45pt;
  }
  
  .ss6 {
	font-family:'SuisseBPIntl-Antique';
	font-weight: ;
	font-size: 43pt;
  }
  
  .ss7 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss8 {
	font-family:'Steinbeck';
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: red;
  }
  
  .ss9 {
	font-family:'SuisseBPIntl-Antique';
	font-size: 26.4px;
	margin-left: 10pt;
  }

  .ss10 {
	font-family:'Steinbeck';
	font-size: 12px;
	text-decoration: none;
	color: white;
  }
  

  .ss11 {
	font-family:'Steinbeck';
	font-size: 10px;
	font-weight: lighter;
  }
  
  
  
   /*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
	  font-family: 'SuisseBPIntl-Antique';
	  src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'SuisseBPIntl-AntiqueItalic';
	  src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Suisse-Intl-Light';
	  src: url('fonts/Suisseintllight.woff2') format('woff2');
	  font-weight: 100;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Steinbeck';
	  src: url('fonts/Steinbeck.woff') format('woff');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
  
  
  .body {
	display: block;
	margin-bottom: 1rem;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	letter-spacing: -0.36px;
	line-height: 18pt;
  }
  
  .body2 {
	display: block;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.36px;
	line-height: 20pt;
  }
  
  /*
  ------------------------------------------------------------------
  NEW GRID
  ------------------------------------------------------------------
  */
  
  
	.div-block {
	  padding-top: 1rem;
	  cursor: auto;
	}
  }
  
  /*-- blank block footer --*/
  
  .div-block2 {
	padding-top: 2rem;
	cursor: auto;
  }
  
  /*-- blank block extra --*/
  
  .div-block3 {
	padding-top: 1rem;
	cursor: auto;
  }
  
  /*-- vertical line --*/
  .vl {
	border-left: 6px solid rgb(255, 0, 0);
	height:fit-content;
	position:static;
	left: 50%;
	margin-left:-3px;
	top: 10pt;
  }
  
  @media screen and (min-width: 600px){
	.vl {
	  width:1000;
	}
  }
  

  /*
  ------------------------------------------------------------------
  BACKGROUND IMAGE GRID
  ------------------------------------------------------------------
  */
  
  *,
  *::after,
  *::before {
	  cursor:auto;
	  box-sizing: border-box;
  }
  
  :root {
	  font-size: 18px;
  }
  
  html, 
  body, 
  main {
	  height: 100%;
	  width: 100%;
	  position: relative;
	  overflow: hidden;
  }
  
  body {
	  margin: 0;
	  --color-text: #d00000;
	  --color-bg: #ffffff;
	  --color-link: #28b6cf;
	  --color-link-hover: #d00000;
	  --color-content-title-sub: black;
	  color: var(--color-text);
	  background-color: var(--color-bg);
	  --cursor-stroke: #ff0000;
	  --cursor-fill: none;
	  --cursor-stroke-width: 1px;
	  font-family: 'SuisseBPIntl-Antique';
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
  }
  
  #cdawrap {
	  --cda-text-size: 14px;
	  --cda-footer-fontsize: 12px;
  }
  
  
  .demo-3 {
	  --color-text: #239c34;
	  --color-bg: #000000;
	  --color-link: #ffffff;
	  --color-link-hover: #ccc;
	  --color-content-title-sub: #ffffff;
	  --cursor-stroke: #239c34;
	  --cursor-fill: none;
	  --cursor-stroke-width: 3px;
  }
  
  a {
	  text-decoration: none;
	  color: black;
	  outline: none;
  }
  
  a:hover,
  a:focus {
	  text-decoration: none;
	  color: var(--color-link-hover);
	  outline: none;
  }
  
  /* Page Loader */
  .js .loading::before,
  .js .loading::after {
	  content: '';
	  position: fixed;
	  z-index: 1000;
  }
  
  .js .loading::before {
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: var(--color-bg);
  }
  
  .js .loading::after {
	  top: 50%;
	  left: 50%;
	  width: 60px;
	  height: 60px;
	  margin: -30px 0 0 -30px;
	  border-radius: 50%;
	  opacity: 0.4;
	  background: var(--color-link);
	  animation: loaderAnim 0.7s linear infinite alternate forwards;
  
  }
  
  @keyframes loaderAnim {
	  to {
		  opacity: 1;
		  transform: scale3d(0.5,0.5,1);
	  }
  }
  
  .message {
	  position: relative;
	  z-index: 100;
	  text-align: center;
	  background: var(--color-text);
	  color: var(--color-bg);
	  padding: 1rem;
	  font-size: 0.85rem;
	  position: relative;
  }
  
  .no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
  .frame {
	  padding: 3rem 5vw;
	  text-align: center;
	  position: relative;
	  z-index: 1000;
  }
  
  .frame__title {
	  font-size: 1rem;
	  margin: 0 0 1rem;
	  font-weight: normal;
  }
  
  .frame__links {
	  display: inline;
  }
  
  .frame__links a:not(:last-child),
  .frame__demos a:not(:last-child) {
	  margin-right: 1rem;
  }
  
  .frame__demos {
	  margin: 1rem 0;
  }
  
  .frame__demo--current,
  .frame__demo--current:hover {
	  color: var(--color-text);
	  text-decoration: none;
  }
  
  .content {
	  display: flex;
	  flex-direction: column;
	  width: auto;
	  height: calc(100vh - 13rem);
	  position: relative;
	  align-items: center;
	  justify-content: center;
	  max-height: 300px;
	  color: #000000;
  }
  
  .grid {
	  pointer-events: none;
	  position: absolute;
	  width: 110%;
	  height: 110%;
	  top: -5%;
	  left: -5%;
	  display: grid;
	  grid-template-columns: repeat(50,2%);
	  grid-template-rows: repeat(50,2%);
  }
  
  .grid__item {
	  position: relative;
  }
  
  .grid--img .grid__item {
	  overflow: hidden;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  will-change: transform;
  }
  
  .grid__item-img {
	  position: relative;
	  width: 100%;
	  background-size: cover;
	  background-position: 50% 50%;
  }
  
  .grid--img .grid__item-img {
	  flex: none;
	  width: calc(100% + 100px);
	  height: calc(100% + 100px);
	  will-change: transform;
  }
  
  /* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
  
  .pos-1 {
	  grid-area: 10 / 1 / 26 / 7;
  }
  
  .pos-2 {
	  grid-area: 1 / 18 / 9 / 27;
  }
  
  .pos-3 {
	  grid-area: 1 / 36 / 14 / 42;
  }
  
  .pos-4 {
	  grid-area: 13 / 11 / 32 / 18;
  }
  
  .pos-5 {
	  grid-area: 17 / 32 / 32 / 38;
  }
  
  .pos-6 {
	  grid-area: 20 / 46 / 28 / 51;
  }
  
  .pos-7 {
	  grid-area: 43 / 1 / 51 / 10;
  }
  
  .pos-8 {
	  grid-area: 38 / 14 / 46 / 22;
  }
  
  .pos-9 {
	  grid-area: 40 / 26 / 51 / 32;
  }
  
  .pos-10 {
	   grid-area: 37 / 39 / 48 / 47;
  }
  
  .content__title {
	  font-family: 'SuisseBPIntl-Antique';
	  font-weight: 400;
	  font-size: 6vw;
	  margin: 0;
	  line-height: 1;
	  position: relative;
	  color: black;
  }
  
  .content__title-sub {
	  color: #000000;
	  font-size: 4vw;
	  display: block;
	  line-height: 0.5;
	  font-family: Helvetica, sans-serif;
  }


@media screen and (max-width 600){
  .content__title-sub {
	font-size: 4vw;
	display: block;
	line-height: 0.5;
	font-family: Helvetica, sans-serif;
}}

	  .cursor {
		  position: fixed;
		  top: 5em;
		  left: 0;
		  display: block;
		  pointer-events:none;
	  }
	  .cursor__inner {
		  fill: var(--cursor-fill);
		  stroke: var(--cursor-stroke);
		  stroke-width: var(--cursor-stroke-width);
	  }
  }


/*
  ------------------------------------------------------------------
  DROPDOWN NAVIGATOR
  ------------------------------------------------------------------
  */

/* Dropdown Button */

*{
opacity: 100%;
}
.button{
	border-style:none;
}

.dropbtn {
	background-color: rgb(255, 255, 255);
	color: whitesmoke;
	padding: 5px;
	border-radius: 100%;
	height: .5cm;
	width: .5cm;
	font-size: 0;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: whitesmoke(0, 238, 255);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgba(245, 245, 245, 0.438);}
  

  