/*
------------------------------------------------------------------
MY STYLE
------------------------------------------------------------------
*/

* {
	font-family:'SuisseBPIntl-Antique';
	color: black;
	cursor: auto;
	text-decoration: none;
  }
  
  .a{
	font-size: 26.4px;
  }
  
  .ss {
	font-family:'Helvetica';
	padding-top: 1rem;
  }
  
  .ss1 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss2 {
	font-size: 50pt;
	padding-top: 1rem;
  }
  
  .ss3 {
	font-family: 'SuisseBPIntl-AntiqueItalic';
  }
  
  .ss4 {
	font-size: 26.4px;
  }
  
  .ss5 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 45pt;
  }
  
  .ss6 {
	font-family:'SuisseBPIntl-Antique';
	font-weight: ;
	font-size: 43pt;
  }
  
  .ss7 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 26.4px;
	margin-left: 10pt;
  }
  
  .ss8 {
	font-family:'Steinbeck';
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: #d00000;
  }
  
  .ss9 {
	font-family:'SuisseBPIntl-Antique';
	font-size: 26.4px;
	margin-left: 10pt;
  }
  
  .ss10 {
	font-family:'Steinbeck';
	font-size: 12px;
	text-decoration: none;
	color: white;
  }
  

  .ss11 {
	font-family:'Steinbeck';
	font-size: 10px;
	font-weight: lighter;
  }
  
   /*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
	  font-family: 'SuisseBPIntl-Antique';
	  src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'SuisseBPIntl-AntiqueItalic';
	  src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Suisse-Intl-Light';
	  src: url('fonts/Suisseintllight.woff2') format('woff2');
	  font-weight: 100;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Steinbeck';
	  src: url('fonts/Steinbeck.woff') format('woff');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
  
  
  .body {
	display: block;
	margin-bottom: 1rem;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	letter-spacing: -0.36px;
	line-height: 18pt;
  }
  
  .body2 {
	display: block;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.36px;
	line-height: 20pt;
  }
  
  /*
  ------------------------------------------------------------------
  NEW GRID
  ------------------------------------------------------------------
  */
  
  
	.div-block {
	  padding-top: 1rem;
	  cursor: auto;
	}
  }
  
  /*-- blank block footer --*/
  
  .div-block2 {
	padding-top: 2rem;
	cursor: auto;
  }
  
  /*-- blank block extra --*/
  
  .div-block3 {
	padding-top: 1rem;
	cursor: auto;
  }
  
  /*-- vertical line --*/
  .vl {
	border-left: 6px solid #d00000(255, 0, 0);
	height:fit-content;
	position:static;
	left: 50%;
	margin-left:-3px;
	top: 10pt;
  }
  
  @media screen and (min-width: 600px){
	.vl {
	  width:1000;
	}
  }


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 13px;
}

body {
	margin: 0;
	--color-text: rgb(255, 255, 255);
	--color-bg: #e6decf;
	--color-link: #ffffff;
	--color-link-hover: rgb(255, 255, 255);
	--color-menu: #ffffff;
	--color-menu-hover: #c12a2a;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: paralucent, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--title-size-fallback: 7vw;
	--title-size: clamp(4rem, 7vw, 10rem);
	--cursor-stroke: none;
    --cursor-fill: mediumturquoise;
    --cursor-stroke-width: 1px;
}

body #cdawrap {
	--cda-left: auto;
    --cda-right: 2rem;
    --cda-width: 180px;
    --cda-text-align: right;
    --footer-align: end;
    --cda-top: auto;
    --cda-bottom: 2rem;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255));
}

.js .loading::after {
	content: 'LOADING123';
	font-size: 10vw;
	top: 50%;
	left: 50%;
	width: 1ch;
	overflow: hidden;
	font-family: mono45-headline, monospace;
	font-weight: 700;
	transform: translate3d(-50%,-50%,0);
	-webkit-text-stroke: 2px rgb(255, 255, 255);
	text-stroke: 2px rgb(255, 255, 255);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	color: rgb(255, 255, 255);
	animation: letterSwitch 2s steps(10) infinite;
}

@keyframes letterSwitch {
	to {
		text-indent: -10ch;
	}
}

a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	outline: none;
}

a:hover,
a:focus {
	color: rgb(255, 255, 255);
	outline: none;
}

main {
	min-height: 100vh;
	display: grid;
	grid-template-areas: 'frame' 'content';
	grid-template-rows: auto auto;
	grid-template-columns: auto;
}

.js main {
	height: 100vh;
}

.frame {
	text-transform: uppercase;
	padding: 2rem 1rem;
	font-family: soleil, sans-serif;
}

.frame a {
	text-decoration: underline;
}

.frame a:hover,
.frame a:focus {
	text-decoration: none;
}

.frame__title {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.frame__links {
	display: inline;
}

.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

.bg-gallery-wrap {
	grid-area: content;
	position: relative;
	overflow: hidden;
}

.bg-gallery {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 13rem);
	max-height: 500px;
	display: grid;
	grid-template-columns: repeat(25,4%);
    grid-template-rows: repeat(25,4%);
	opacity: 50%;
}

.bg-gallery__item {
	opacity: 0;
	position: relative;
	max-width: 230px;
	will-change: transform;
}

.bg-gallery__item:nth-child(odd) {
	max-width: 150px;
}

.bg-gallery__item:nth-child(-n+3) {
    align-self: start; 
}

.bg-gallery__item:nth-child(n+4) {
    align-self: end;  
}

.bg-gallery--1 .bg-gallery__item:nth-child(1) { grid-area: 3 / 2 / auto / auto;}
.bg-gallery--1 .bg-gallery__item:nth-child(2) { grid-area: 15 / 3 / auto / auto; }
.bg-gallery--1 .bg-gallery__item:nth-child(3) { grid-area: 5 / 20 / auto / auto; }
.bg-gallery--1 .bg-gallery__item:nth-child(4) { grid-area: 15 / 5 / auto / auto; }
.bg-gallery--1 .bg-gallery__item:nth-child(5) { grid-area: 15 / 18 / auto / auto; }
.bg-gallery--1 .bg-gallery__item:nth-child(6) { grid-area: 20 / 19 / auto / auto; }

.bg-gallery--2 .bg-gallery__item:nth-child(1) { grid-area: 1 / 2 / auto / auto; }
.bg-gallery--2 .bg-gallery__item:nth-child(2) { grid-area: 10 / 3 / auto / auto; }
.bg-gallery--2 .bg-gallery__item:nth-child(3) { grid-area: 10 / 20 / auto / auto; }
.bg-gallery--2 .bg-gallery__item:nth-child(4) { grid-area: 25 / 15 / auto / auto; }
.bg-gallery--2 .bg-gallery__item:nth-child(5) { grid-area: 7 / 16 / auto / auto; }
.bg-gallery--2 .bg-gallery__item:nth-child(6) { grid-area: 21 / 18 / auto / auto; }

.bg-gallery--3 .bg-gallery__item:nth-child(1) { grid-area: 3 / 3 / auto / auto; }
.bg-gallery--3 .bg-gallery__item:nth-child(2) { grid-area: 11 / 4 / auto / auto; }
.bg-gallery--3 .bg-gallery__item:nth-child(3) { grid-area: 1 / 16 / auto / auto; }
.bg-gallery--3 .bg-gallery__item:nth-child(4) { grid-area: 25 / 10 / auto / auto; }
.bg-gallery--3 .bg-gallery__item:nth-child(5) { grid-area: 4 / 22 / auto / auto; }
.bg-gallery--3 .bg-gallery__item:nth-child(6) { grid-area: 20 / 18 / auto / auto; }

.bg-gallery--4 .bg-gallery__item:nth-child(1) { grid-area: 1 / 9 / auto / auto; }
.bg-gallery--4 .bg-gallery__item:nth-child(2) { grid-area: 2 / 1 / auto / auto; }
.bg-gallery--4 .bg-gallery__item:nth-child(3) { grid-area: 6 / 14 / auto / auto; }
.bg-gallery--4 .bg-gallery__item:nth-child(4) { grid-area: 25 / 15 / auto / auto; }
.bg-gallery--4 .bg-gallery__item:nth-child(5) { grid-area: 23 / 22 / auto / auto; }
.bg-gallery--4 .bg-gallery__item:nth-child(6) { grid-area: 15 / 19 / auto / auto; }

.bg-gallery--5 .bg-gallery__item:nth-child(1) { grid-area: 7 / 1 / auto / auto; }
.bg-gallery--5 .bg-gallery__item:nth-child(2) { grid-area: 1 / 15 / auto / auto; }
.bg-gallery--5 .bg-gallery__item:nth-child(3) { grid-area: 2 / 13 / auto / auto; }
.bg-gallery--5 .bg-gallery__item:nth-child(4) { grid-area: 25 / 3 / auto / auto; }
.bg-gallery--5 .bg-gallery__item:nth-child(5) { grid-area: 18 / 19 / auto / auto; }
.bg-gallery--5 .bg-gallery__item:nth-child(6) { grid-area: 25 / 21 / auto / auto; }

.menu {
	grid-area: content;
	font-weight: 400;
	font-size: 1.65rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: flex-start;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-js .menu {
	padding-top: 10vh;
}

.js .menu {
	align-self: center;
}

.menu__headline {
	margin-bottom: 3rem;
}

.menu__headline-deco {
	display: block;
	width: 3rem;
	height: 1px;
	margin-bottom: 1rem;
	background: currentColor;
	transform-origin: 0% 50%;
}

.menu__headline-text {
	position: relative;
	overflow: hidden;
	display: block;
}

.menu__headline-text span {
	display: block;
}

.menu__item {
	cursor: pointer;
	display: flex;
	margin: -2.5vh 0 0 0;
	align-items: flex-end;
	line-height: 1.2;
	position: relative;
	overflow: hidden;
	pointer-events: none;
}

.menu__item-title {
	font-size: var(--title-size-fallback);
	font-size: var(--title-size);
	font-weight: 700;
	font-style: italic;
	pointer-events: auto;
	color:mediumturquoise;
}

.menu__item:hover .menu__item-title,
.menu__item--selected .menu__item-title,
.menu__item-cta:hover span {
	color:rgb(255, 255, 255);
}

.menu__item-deco {
	font-size: var(--title-size-fallback);
	font-size: var(--title-size);
	font-weight: 100;
	transform: rotate(30deg);
	margin: 0 0.5rem 0 2rem;
	opacity: 0;
}

.menu__item-cta {
	display: block;
	margin: 0 0 1.35vw;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.menu__item--selected .menu__item-deco,
.menu__item--selected .menu__item-cta {
	pointer-events: auto;
}

.menu__item-cta span,
.content__title span,
.content__intro span,
.content__date span {
	display: block;
}

.page {
	grid-row-start: 2;
	grid-column-start: 2;
}

.js .page {
	grid-area: content; 
}

.js .page--preview {
    position: relative;
    overflow: hidden;
    height: 100vh;
    pointer-events: none;
}

.content {
	margin: 0 auto;
	padding: 2rem 0 10rem 0;
	align-self: center;
	justify-self: center;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-areas: "back" "title" "intro" "date" "gallery";
	grid-gap: 2rem;
}

.js .content {
	position: absolute;
	top: 0;
	height: 0;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}

.js .content--current {
	position: relative;
	overflow: visible;
	height: auto;
	opacity: 100%;
}

.js .page:not(.page--preview) .content--current {
	pointer-events: auto;
}

.content__back {
	grid-area: back;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

.no-js .content__back svg {
	transform: rotate(90deg);
}

.content__back:focus {
	outline: none;
}

.content__back svg {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
	stroke: #000;
	stroke-width: 17px;
}

.content__back:hover svg,
.content__back:focus svg {
	fill: transparent;
}

.content__title {
	grid-area: title;
	font-size: var(--title-size-fallback);
	font-size: var(--title-size);
	font-weight: 700;
	margin: 0;
	line-height: 1.2;
	position: relative;
	overflow: hidden;
}

.content__intro {
	grid-area: intro;
	margin: 0;
	font-size: 1.65rem;
	max-width: 300px;
	position: relative;
	overflow: hidden;
}

.content__date {
	grid-area: date;
	align-self: end;
	justify-self: end;
	position: relative;
	overflow: hidden;
}

.gallery {
	margin: 2rem 0 0 0;
	grid-area: gallery;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
}

.gallery__figure {
	margin: 0;
}

.gallery__figure-img {
	max-width: 100%;

}

.gallery__figure-caption {
	opacity: 100%;
}

.js .content__back,
.js .content__title,
.js .content__intro,
.js .content__date,
.js .gallery__figure {
	opacity: 100%;
}

.cursor {
	display: none;
}

@media screen and (min-width:0em) {
	main {
		grid-template-areas: 'content content';
		grid-template-rows: 100vh;
		grid-template-columns: 3rem 1fr;
	}
	.frame {
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		display: flex;
		z-index: 1000;
		-webkit-writing-mode: vertical-lr;
		-ms-writing-mode: tb-lr;
		writing-mode: vertical-lr;
		align-items: flex-end;
    	padding: 2rem 0.35rem 0 0;
    	transform: rotate(180deg);
	}
	.frame__title {
		margin: 0;
	}
	.frame__links {
		margin: 15vh 0 0 0;
	}
	.frame__links a {
		margin-top: 1.25rem;
	}
	.bg-gallery {
		height: 100vh;
		max-height: none;
	}
	.menu,
	.content {
		width: 50vw;
		max-width: 1000px;
	}
	.content {
		grid-template-areas: "back back" 
						"title title" 
						"intro date"
						"gallery gallery";
	}	
}


@media (any-pointer: fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		mix-blend-mode:darken;
	}
	.cursor__inner {
		fill: var(--cursor-fill);
		stroke: var(--cursor-stroke);
		stroke-width: var(--cursor-stroke-width);
		opacity: 0.7;
	}
	.no-js .cursor {
		display: none;
	}
}

.button{
	border-style:none;
}

.dropbtn {
	background-color: rgb(255, 255, 255);
	color: whitesmoke;
	padding: 5px;
	border-radius: 100%;
	height: .5cm;
	width: .5cm;
	font-size: 0;
	border: none;
  }

  .message {
	position: relative;
	z-index: 100;
	text-align: center;
	background: var(--color-text);
	color: var(--color-bg);
	padding: 1rem;
	font-size: 0.85rem;
	position: relative;
}