

/* enable Flickity by default */
.carousel:after {
	content: 'flickity';
	display: none; /* hide :after */
  }
  


  /* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: transparent(255, 255, 255);
}

/* flickity on by default */
.carousel:after {
  content: 'flickity';
  display: none;
}


.carousel-cell {
  width: fit-content;
  height: 450px;
  margin-right: 10%;
  margin-bottom: 5px;
  margin-left: 10%;
  background:#ffffff;
  border-radius: 20px;
  counter-increment: carousel-cell;
}

/* no margin bottom when Flickity enabled */
.flickity-enabled .carousel-cell {
  margin-bottom: 0;
}

/* dots are lines */
.flickity-page-dots .dot {
	height: px;
	width: 40px;
	margin: 0;
	border-radius: 20;
  }

  /* position dots up a bit */
.flickity-page-dots {
	bottom: -22px;
  }

  /* position dots in carousel */
.flickity-page-dots {
	bottom: 0px;
  }

  /* white circles */
  .flickity-page-dots .dot {
	width: 12px;
	height: 12px;
	opacity: 0;
	background: transparent;
	border: 2px solid transparent;
  }
  /* fill-in selected dot */
  .flickity-page-dots .dot.is-selected {
	background: transparent;
  }

  /* no circle */
.flickity-button {
	background: transparent;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
	width: 20px;
	height: 20px;
	opacity: 0;
  }

  /* icon color */
  .flickity-button-icon {
	fill: white;
  }

  /* hide disabled button */
  .flickity-button:disabled {
	display: none;
  }

.carousel-image {
	display: block;
	height: 200px;
	/* set min-width,
	   allow images to determine cell width */
	min-width: 150px;
	max-width: 100%;
	margin-right: 10px;
	/* vertically center */
	top: 50%;
	transform: translateY(-50%)
  }
  
  .carousel.is-fullscreen .carousel-image {
	height: auto;
	max-height: 100%;
  }

  /* .is-fullscreen added to carousel when fullscreen
   size cells to full height when fullscreen */
.carousel.is-fullscreen .carousel-cell {
	height: 100%;
  }
