@charset "UTF-8";

/* main headlines, paragraph, colors, background colors*/
html{ 
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

body{
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: #f8f8f5;
}

p,h1,h2,h3,h4,h5,h6,div,li{
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

h1{
    font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
    font-size: 22px;
    letter-spacing: 1px; 
    font-weight: 300;	
    margin: 0;
    padding: 0;
}

h2{
    font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1.2; 
    font-weight: 300;	
    margin: 0;
    padding: 0;
}

.archive_description_box h2 {
	line-height: 0.9;
}

h3{
    font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
    font-size: 40px;
    letter-spacing: 0px; 
    font-weight: 300;	
    line-height: 90%;
    margin: 0;
    padding: 0;
}

h4{
    font-family: "kepler-std-display", KeplerStd-LightItDisp, Times, serif;
    font-size: 40px;
    letter-spacing: 0px; 
    font-weight: 300;	
    font-style: italic;
    margin: 0;
    padding: 0;
}

body#index h4{
    font-family: "kepler-std-display", KeplerStd-LightItDisp, Times, serif;
    font-size: 18px;
    letter-spacing: 0px; 
    font-weight: 300;	
    font-style: italic;
    margin: 0;
    padding: 0;
}

h5{
    font-family: "futura-pt-bold",FuturaStd-Bold, Futura, sans-serif;
    font-size: 9px;
    letter-spacing: 3px; 
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h6{
    font-family: "futura-pt",Futura, sans-serif;
    font-size: 9px;
    letter-spacing: 3px; 
    text-transform: uppercase;
    font-weight:500;	
    margin: 0;
    padding: 0;
}

p{
	font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
	font-weight: 300;
    font-size: 14px;
	text-align: left;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.italic {
    font-family: "kepler-std-display", KeplerStd-LightItDisp, Times, serif;
	font-style: italic;
	font-weight: 300;
}

.no-italic a{
	font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif  !important;
	font-style: normal  !important;
	font-weight: 300;
}

#innen, .container, .innen, .otherprojects_site, #title_spacing, #navelements, #navelements2, .project_tile{
	-o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; 
}

body ::selection{
	background-color:  #f8f8f5;
}

body ::-moz-selection{
	background-color:  #f8f8f5;
}

body#about ::selection{
	background-color:  #f8f8f5;
}

body#about ::-moz-selection{
	background-color:  #f8f8f5;
}

.pink {
	background-color: #f8f8f5;
	transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
}

.pink ::selection{
	background-color:  #f8f8f5;
}

.pink ::-moz-selection{
	background-color:  #f8f8f5;
}

.pink a {
	text-decoration: none;
	color: black;
}

.white {
	background-color: #f8f8f5;
	transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
    -o-transition: background-color .5s  linear;
}

.white ::selection{
	background-color:  #f8f8f5;
}

.white ::-moz-selection{
	background-color:  #f8f8f5;
}

.white a {
	text-decoration: none;
	color: black;
}

.red {
	background-color: #f8f8f5;
	transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -webkit-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    color: #f8f8f5;
}

.red ::selection{
	background-color:  #f8f8f5;
	color: #f8f8f5;
}

.red ::-moz-selection{
	background-color:  #f8f8f5;
	color: #f8f8f5;
}

.red a {
	text-decoration: none;
	color: #f8f8f5;
}

.midnightHeader.default {
	color: black;
	border-color: black;
	background-color: transparent;
	transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -moz-transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -webkit-transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -o-transition: color .75s ease-in-out, border-color .75s ease-in-out;
    
}

.midnightHeader.light {
	color: white;
	border-color: white;
	background-color: transparent;
		transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -moz-transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -webkit-transition: color .75s ease-in-out, border-color .75s ease-in-out;
    -o-transition: color .75s ease-in-out, border-color .75s ease-in-out;
}

.midnightHeader.light a{
	color: white;
}


/* navigation */

#linieoben {
	border-top: 1px solid;
	z-index: 59;
	width: 93.75%;
	height: 1px;
	top: 53px;
	left: 3.125%;
	position: fixed;
	display: block;	
	background-color: transparent;
}

#linieunten{
	border-bottom: 1px solid;
	z-index: 59;
	width: 93.75%;
	height: 1px;
	bottom: 53px;
	left: 3.125%;
	position: fixed;
	display: block;
	background-color: transparent;
}

#nav {
	z-index: 60;
	width: 100%;
	opacity: 1;
	/* h: 3.75%; */
	height: 80px !important;
	position: fixed;
	margin: 0 auto;
	top: 0px;
}

#nav2 {
	z-index: 60;
	width: 100%;
	opacity: 1;
	/* h: 3.75%; */
	height: 80px !important;
	position: fixed;
	bottom: 0px !important;
}

body#index #nav{
	opacity: 1;
	z-index: 60;
	width: 100%;
	/*h: 3.75%; */
	height: 80px !important;
	transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

body#index #nav.scrolled {
	z-index: 60;
	width: 100%;
	opacity: 1;
	/*h: 3.75%; */
	height: 80px !important;
}

#logo {
	position: fixed;
    display: block;
    text-align: center;
    height: auto; 
    width: 16%;
    left: 42%;
    top: 23px;
    z-index: 61;
    background-color: transparent;
}

#logo2 {
	position: relative;
	display: block;
	text-align: center;
	font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
	font-weight: 300;
    letter-spacing: .5px; 
    font-size: 90px;
    text-align: center;
    height: auto; 
    width: 100%;
    color: #000;
    left: 0;
    top: 270px;
}

.logoscrolled {
	display: none;
	position: absolute;
	z-index:0;
	height:0px;
}

#copyright {
	position: fixed;
    display: block;
    text-align: left;
    width: auto;
    height: 20px;
    bottom: 20px;
    left: 3.125%;
    z-index: 60;
    background-color: transparent;
}

#copyright2 {
	position: fixed;
    display: block;
    text-align: right;
    width: auto;
    height: 20px;
    bottom: 20px;
    right: 3.125%;
    z-index: 60;
    background-color: transparent;
}

#navelements {
	position: fixed;
    display: block;
    height: 20px;
	top: 30px;
	width: 100%;
	left: 0px;
	padding: 0px;
	margin: 0px;
	z-index: 60;
}

#navelements2 {
	position: relative;
    display: block;
    height: 20px;
	top: 145px;
	width: 96%;
	left: 2%;
	padding: 0px;
	margin: 0px;
	color: black;
	opacity: 0;
}

#navelement_active{
	 text-decoration: none;
	 opacity: 0.6;
}

#navelement:hover{
	 text-decoration: none;
	 opacity:0.6;
}

#navelement{
	 text-decoration: none;
}

#work {
	position: absolute;
	width: auto;
	text-align: left;
	left: 3.125%;
	margin: 0px;
	background-color: transparent;
}

#about{
	position: absolute;
	width: auto;
	text-align: right;
	right: 3.125%;
	margin: 0px;
	background-color: transparent;
}

#menu-icon {
	display: none;
}

/* main containers */

#loading {
	opacity: 0;
}

.hidden {
	opacity: 0;
	display: none;
}

#inhalt {
	height: auto;
	position: relative;
	width: 100%; 
	top: 0px;
	display: block;
	left: 0px;
	z-index: 55;
	padding-bottom: 50px;
	border-left: 0px;
	border-right: 0px;
}
	
body#index #inhalt {
	height: auto;
	position: relative;
	width: 95.31%; 
	top: 0px;
	display: block;
	left: 2.345%;
	z-index: 55;
	padding-bottom: 100px;
}
	
#innen{
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	height: auto;
	width: 100%;
}

body#index #innen{
	display: block;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	position: relative;
	height: auto;
	top: 100vh;
	
}

.innen{
	position: relative;
	width: 100%; 
	display: block;
	left: 0px;
	z-index: 55;
	padding-bottom: 60px;
	border-left: 0px;
	border-right: 0px;
	color: black;
	height: auto;
}

.container{
	width: 93.75%;
	margin-top: 0px;
	margin-left: 3.125%;
	display: inline-block;
	height: auto;
}

.container a {
	color: black;
    text-decoration: none;
    font-style: italic;
    font-family: "kepler-std-display", KeplerStd-LightItDisp, Times, serif !important;
    font-weight: 300;
}

.container a:hover, .container a:focus, .container a:active   {
	text-decoration: line-through;
	}

.container a:hover::after {
    content:"\00a0 \00a0 \00a0 \00a0";
    }

.container a:hover::focus {
    content:"\00a0 \00a0 \00a0 \00a0";
    }


.container a:hover::active {
    content:"\00a0 \00a0 \00a0 \00a0";
    }


/* index and archive */

.onhover{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0px;
	z-index: 100;
	background-image: none;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;   
}

.onhover:hover {
	opacity: 1;
}

.onhover:active {
	opacity: 1;
}

.onhover:focus {
	opacity: 1;
}

.index_container{
	width: 100%;
	margin-top: 75px;
	display: inline-block;
}

.scrolledindex{
	display: block; 
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	position: relative;
	height: auto;
	top: 0vh !important;
}

.project_teaser{
	position: relative;
	display: inline-block;
	float: left;
	width: 50%;
	height: auto;
	margin-bottom: 20px;
	padding-left:0.8195%;
	padding-right:0.8195%;
	vertical-align: top;
	box-sizing: border-box;
}

.project_teaser_schmal{
	position: relative;
	display: inline-block;
	float: left;
	width: 25%;
	height: auto;
	margin-bottom: 20px;
	padding-left:0.8195%;
	padding-right:0.8195%;
	vertical-align: top;
	box-sizing: border-box;
}

.project_tile {
	display: block;
	overflow: hidden;
	width: 100%;
	max-height: 386px;
	position: relative;
}

.project_teaser img{
	width: 100%;
	height: auto;
	max-height: 386px;
	z-index: 2;
}

.project_teaser_schmal img{
	width: 100%;
	height: auto;
	max-height: 386px;
	z-index: 2;
}

.teaser_description_box{ 
	height: auto;
	z-index:30;
	top: 0px;
}

.teaser_title{
	text-align: left;
	margin-top: 20px;
	padding-left: 25px;
}

.project_teaser .teaser_title{
	max-width: 75%;
}

.project_teaser_schmal .teaser_title{
	max-width: 75%;
}

.teaser_tags::before{
	content: " — ";
}
 
.teaser_tags{
	padding-left: 25px;
	text-align: left;
}

#archive_page {
	margin-top: 260px;
	margin-bottom: 220px;
}

.archive_description_box{
	width: 500px;
	height: auto;
	position: absolute;
	float: right;
	margin-right: 50px;
	z-index:30;
	top: 0px;
	margin-top: -25px;
	opacity: 0;
	
	transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out; 
}

.archive_description_box:hover {
	opacity: 0 !important;
}

.archive_description_box:active {
	opacity: 0 !important;
}

.archive_description_box:focus {
	opacity: 0 !important;
}

.side {
	float: left;
	margin-left: 70%;
}

.leftside {
	float: left;
	margin-left: -70%;
}

body#archive .title{
	text-align: center;
	width: 65%;
	margin-left: 17.5%;
}

.archive_images {
	margin-top: 100px;
	position: relative;
}

.archive12 {
	width: 21.77%;
	position: relative;
	display: block;
	margin-right: 3.23%;
	margin-top: 100px;
	float: left;
	height: auto;
}

.archive12:hover .archive_description_box {
	opacity: 1;
} 

.archive12:active .archive_description_box {
	opacity: 1;
} 

.archive12:focus .archive_description_box {
	opacity: 1;
} 

.archive12 img{
	width:100%;
	height: auto;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.archive12 img:hover{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
}

.archive1 {
	width:46.77%;
	position: relative;
	margin-right: 3.23%;
	margin-top: 200px;
	float: left;
	height: auto;
}

.archive1:hover .archive_description_box {
	opacity: 1;
} 

.archive1:active .archive_description_box {
	opacity: 1;
}

.archive1:focus .archive_description_box {
	opacity: 1;
}

.archive1 img{
	width:100%;
	height: auto;
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.archive1 img:hover{
	-webkit-filter: grayscale(0%); 
	filter: grayscale(0%);
}

.archive_container{
	width: 96.875%;
	position: relative;
	margin-left: 3.125%;
}


/* about and project pages */

#about_page{
	margin-top: 180px;
	margin-bottom: 120px;
}

#meinbild {
	width: 100%;
    height: 340px;
    background-image: url("images/about/meinbild_small.jpg");
    background-repeat: no-repeat; 
    background-position:bottom left;
	background-size: 100% auto;       
    margin-bottom: 0px;
    margin-top: 20px;
    display: block;
}

.box_100{
	font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
    font-size: 14px;
    font-weight: 500;
	text-align: left;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 30px;
	width: 100%;
}

.box_left{
	float: left;
	width: 50.865%;
	line-height: 1.5;
	margin-left: 0px;
	margin-bottom: 40px;
}

.box_right{
	float: right;
	width: 47.535%;
	line-height: 1.5;
	margin-right: 0px;
	margin-bottom: 40px;
}

.box_12_right{
	float: right;
	width: 42.5%;
	margin-right: 7.5%;
}

.box_12_left{
	float: left;
	width: 42.5%;	
	margin-right:7.5%;
}

.box_right .box_12_right{
	margin-right: 0%;
	width: 50%;
}

.title{
    text-align: left;
    width: 50%;
    margin-left: 0px;
}

.box_left .title{
	line-height: 0.9;
}

body#aboutpage .title{
	text-align: center;
	width: 80.5%;
	margin-left: 9.75%;
}

.year{
	text-align: left;
	width: 50%;
	margin-top: -2%;
}

.year::before{
	content: " — ";
}

.excerpt{
	margin-top: 0.6%;
	line-height: 1.1;
	margin-bottom: 60px;
}

.description {
	margin-top: 20px;
	margin-bottom: 40px;
}

body#aboutpage .description{
	margin-bottom: 0px;
}

#title_spacing{
	position: relative;
	height: 50px;
	width: 100%;
	padding-top: 180px;
}

.spacing{
	width: 100%;
	display: block;
	position: relative;
	height: 60px;
	float: left;
}

.titleklein{
    margin-top: 20px;
}

.titleklein::after{
	content: " — ";
    display: inline-block;
	padding-left: .2em;
	transform-origin: 0 50%;
	transform: scaleX(1.5) translateY(-.1em);
}

.cover_image{
	width: 100%;
	height: auto;
	margin-bottom: 150px;
	margin-top: 0px;
	display:block;
}

.cover_image img{
	width: 100%;
	height: auto;
}

.project_images{
	width: 100%;
	height: auto;
}
.project_images img{
	width: 100%;
	height: auto;
	margin-top: 20px;	
	margin-bottom: 0px;
	top: 0px;
}

.project_images_schmal{
	width: 48.5%;
	height: auto;	
	display: inline-block;
	float: left;
	overflow: hidden;
}

.project_images_schmal img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.no-margin{
	margin-top: 0px !important;
	opacity: 0;
	height: 0px;
}


/* other projects list */ 

.otherprojects_site{
	background-color: #f8f8f5;
	width: 100%; 
	min-height: 750px;
	position: relative;
	z-index: 56;
	left: 0px;
	display: block;
	margin-top: -70px;
}
	
.otherprojects_site a {
	font-style: normal;
	font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif !important;
	font-weight: 300;
}

sup {
    vertical-align: super;
	font-size: 15px;
	letter-spacing: 0px;
	position: relative;
	bottom: 0.4em;
}

body#index .otherprojects_site{
	display: none;
}

body#aboutpage .otherprojects_site{
	display: none;
}

body#archive .otherprojects_site{
	display: none;
}

body#error .otherprojects_site{
	display: none;
}

/* error */ 

.error_icon{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 20px;
}

.error_icon img{
	width: 40px;
	height: 40px;
}

body#error .title {
	width: 100%;
	text-align: center;
}

body#error p {
	text-align: center;
}

.return_index{
	width: 100%;
	height: auto;
	margin-top: 20px;
	text-align: center;
	font-style: normal;
}

.container .return_index a:hover { 
	text-decoration: none;
}

.container .return_index a:focus {
	text-decoration: none;
}

.container .return_index a:active {
	text-decoration: none;
}

.container .return_index a{
	font-style: normal;
	font-family: "futura-pt-bold",FuturaStd-Bold, Futura, sans-serif !important;
    font-size: 9px;
    letter-spacing: 3px; 
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

#error .container a:hover::after {
	display: none;
	content:"";
}

#error .container a:focus::after {
	display: none;
	content:"";
}

#error .container a:active::after{
	display: none;
	content:"";
}


#error .container{
	padding-bottom: 110px;
}

body#error #nav{
	z-index: 60;
	width: 100%;
	opacity: 1;
	height: 80px !important;
	position: fixed;
	margin: 0 auto;
	top: 0px;
}

body#error #nav2 {
	z-index: 60;
	width: 100%;
	opacity: 1;
	height: 80px !important;
	position: fixed;
	bottom: 0px !important;
}



@media screen and (min-width: 769px) and (max-width: 979px){
	
	/* navigation */
	
	#logo {
		width: 40%;
		left: 30%;
		top: 23px;
	}
		
	#logo2 {
		width: 100%;
		height: 100%;
		left: 0%;
		font-size: 75px;
	}
	
	#linieoben {
		top: 43px;
	}
	
	#linieunten {
		bottom: 43px;
	}
	
	#navelements {
		top: 20px;
	}
	
	#logo {
		top: 13px;
	}
	
	#copyright {
		bottom: 10px;
	}
	
	#copyright2{
		bottom: 10px;
	}
	
	
	/* main containers */
	
	.innen{
		padding-bottom: 50px;
	}

	
	/* index and archive */
	
	.project_teaser{
		position: relative;
		display: inline-block;
		float: left;
		width: 66.66%;
		margin-bottom: 12px;
		padding-left: 0.8195%;
		padding-right: 0.8195%;
		vertical-align: top;
		box-sizing: border-box;
		height: auto;
	}
	
	.project_teaser_schmal{
		position: relative;
		display: inline-block;
		float: left;
		width: 33.33%;
		margin-bottom: 12px;
		padding-left: 0.8195%;
		padding-right: 0.8195%;
		vertical-align: top;
		box-sizing: border-box;
		height: auto;
	}
	
	.project_tile {
		display: block;
		overflow: hidden;
		width: 100%;
		max-height: 350px;
		position: relative;
	}
	
	.project_teaser img{
		width: 100%;
		height: auto;	
		margin: 0 auto;	
		max-height: 400px;	
	}
	
	.project_teaser_schmal img{
		width: 100%;
		height: auto;	
		margin: 0 auto;
		max-height: 400px;
	}
	
	.leftside {
		margin-left: -70%;
	}
	
	.archive_description_box h2{
		font-size: 30px;
	}
	
	.archive_description_box sup{
		font-size: 10px;
		line-height: 3;
	}
	
	.archive_description_box {
		width: 290px;
	}
	
	body#archive .title {
	    text-align: center;
	    width: 95%;
	    margin-left: 2.5%;
	}
	
	
	/* about and project pages */
	
	.box_left {
		width: 49%;
	}
	
	.box_right {
		width: 45%;
	}
	
	.box_left .title {
		width: 85%;
	}
	
	.box_12_right{
		float: left;
		width: 100%;
	}
	
	.box_12_left{
		float: left;
		width: 100%;	
	}
	
	.box_right .box_12_right {
		width: 100%;
	}
	
	.cover_image {
		margin-bottom: 100px;
	}

	.description {
		margin-top: 0px;
		margin-bottom: 30px;
	}
	
	#title_spacing {
		padding-top: 100px;
	}
	
	.titleklein {
		margin-top: 0px;
	}
	
	body#aboutpage .title {
	    text-align: center;
	    width: 95%;
	    margin-left: 2.5%;
	}
	
	#about_page {
		margin-top: 150px;
		margin-bottom: 100px;
	}
	
	#meinbild {
		width: 100%;
		height: 100%;
		margin-top: 0px;
		background-image: url("images/about/meinbild.jpg");
	}	
}


@media screen and (min-width: 320px) and (max-width: 768px){
	
	/* main headlines, paragraph, colors, background colors*/
	
	p {
		hyphens: auto;
	}
	
	.container a:hover {
		text-decoration: none;
	}
	
	.container a:hover::after {
    	content:"";
    }

	.container a:hover::focus {
    	content:"";
    }


	.container a:hover::active {
    	content:"";
    }
	
	
	/* navigation */
	
	#menu-icon {
		display: none;
	}
		
	#logo {
		width: 80%;
		left: 10%;
		top: 15px;
	}
	
	#logo2 {
		top: 300px;
		width: 90%;
		font-size: 45px;
		left: 2%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	#navelements{
		display: block;
		opacity: 1;
		width: 100%;
		z-index: 60;
		top: 0px;
		height: 0px;
		background-color: #f8f8f5;
		border-bottom: 0px;
		transition: opacity .75s ease-in-out;
	    -moz-transition: opacity .75s ease-in-out;
	    -webkit-transition: opacity .75s ease-in-out;
	    -o-transition: opacity .75s ease-in-out; 
	}
		
	#linieoben {
		border-color: black;
		bottom: 0px;
		width: 100%;
		left: 0px;
		top: 50px;
	}
	
	#nav2 {
		display: none;
	}
	
	body#index #nav {
		height: 50px !important;
	}
	
	#nav {
		height: 50px !important;
	}
	
	
	#linieunten {
		top: 300px;
	}

	#copyright{
		width: 100%;
		left: 0px;
		bottom: 0px;
		height: 30px;
		position: relative;
	}

	#navelements2 {
		position: relative;
	    display: block;
	    height: 20px;
		top: 39px;
		left: 0px;
		width: 100%;
		padding: 0px;
		margin: 0 auto;
		color: #151920;
	}
	
	#work {
		position: absolute;
		width: 100%;
		left: 0%;
		float: left;
		text-align: center;
	}
	
	#about{
		position: absolute;
		width: 100%;
		float: left;
		text-align: center;
		right: 0%;
	}
	
	.listelements {
		position: absolute;
		width: 100%;
		float: left;
		text-align: center;
		right: 0%;
	}
	
	#navelements2 #work{
		left: 15%;
	}
	
	#navelements2 #about{
		right: 15%;
	}
	
	#navelements #work{
		width: 10%;
	    float: left;
	    left: 0px;
	    margin-left: 20px;
	    position: relative;
	    padding-bottom: 0px;
	    padding-top: 20px;
	}	
	
	#navelements #about{
		width: 10%;
	    float: right;
	    left: 0px;
	    margin-right: 20px;
	    position: relative;
	    padding-bottom: 0px;
	    padding-top: 20px;
	}
	
	#navelements .listelements {
		padding-bottom: 30px;
		padding-top: 40px;
		font-family: "futura-pt",Futura, sans-serif;
	    font-size: 9px;
	    letter-spacing: 3px; 
	    text-transform: uppercase;
	    font-weight:500;	
	    margin: 0;
	    padding: 0;
	    position: relative;
	    top: 25px;
	}
	
	#nav {
		height: 50px !important;
		top: 0px;
	}
	
	body.pink #nav {
		background-color: #f8f8f5;
	}
	
	body.pink #navelements {
		background-color: #f8f8f5;
	}
	
	
	body.red #nav {
		background-color: #f8f8f5;
	}
	
	body.red #navelements {
		background-color: #f8f8f5;
	}
	
	
	/* main containers */
	
	.container{
		width: 100%;
		margin-left: 0px;
	}
	
	.index_container {
		width: 100%;
		margin-top: 0px;
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;
		overflow: hidden;
	}
	
	#otherprojects.container{
		width: 100%;
		margin-top: 40px;
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	#inhalt {
		height: auto;
		min-height: 650px;
		position: relative;
		width: 100%; 
		top: 0px;
		display: block;
		left: 0px;
		z-index: 55;
		padding-bottom: 50px;
		border: none;
	}
		
	body#index #inhalt {
		height: auto;
		position: relative;
		width: 102.8%; 
		top: 0px;
		display: block;
		left: -2.8%;
		z-index: 55;
		padding-bottom: 150px;
		border: none;
	}
	
	.innen{
		position: relative;
		width: 100%; 
		display: block;
		left: 0px;
		z-index: 55;
		padding-bottom: 50px;
		border: none;
		color: #151920;
		height: auto;
	}
	
	body#index #innen {
		width: 100%;
	}
	
	#innen{
		display: block;
		position: relative;
		padding-left: 0px;
		padding-right: 0px;
	}

	
	/* index and archive */
	
	.project_teaser{
		position: relative;
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: 0px;
		padding-left: 2%;
		padding-right: 0px;
		overflow: hidden;
		box-sizing: border-box;
		height: auto;
		margin-left: 4px;
	}
	
	.project_teaser_schmal{
		position: relative;
		display: inline-block;
		float: left;
		width: 50%;
		margin-bottom: 0px;
		padding-left: 2.6%;
		padding-right: 0px;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_tile {
		display: block;
		overflow: hidden;
		width: 100%;
		margin-bottom: 0px;
		position: relative;
		height: auto;
		max-height: none;
	}
	
	.project_teaser img{
		width: 100%;
		height: auto;
		max-height: 494px;
		margin-bottom: 0px;
		display: block;
	}
	
	.project_teaser_schmal img {
		width: 100%;
		height: auto;
		max-height: 494px;
		margin-bottom: 0px;
		display: block;
	}
	
	.project_teaser_schmal .teaser_title{
		margin-top: 0px;
		width: 90%;
		margin-left: 25px;
		padding-left: 0%;
		max-width: 90%;
		margin-top: 20px;
	}
	
	.project_teaser .teaser_title {
		width: 90%;
		margin-left: 25px;
		padding-left: 0%;
		max-width: 90%;
		margin-top: 20px;
	}
	
	.teaser_description_box{
		margin-top: 0px;
	}

	.onhover{
		position: relative;
		width: 100%;
		height: auto;
		opacity: 1;
		top: 0px;
		margin-bottom: 20px;
		background-image: none;
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		transition: opacity .75s ease-in-out;
	    -moz-transition: opacity .75s ease-in-out;
	    -webkit-transition: opacity .75s ease-in-out;
	    -o-transition: opacity .75s ease-in-out;   
	    hyphens: auto;
	}
	
	.hover_color {
		color: black !important;
		background-color: transparent !important;
	}

	body#archive .title {
		width: 90%;
		margin-left: 5%;
		margin-bottom: 150px;
		margin-top: 200px;
	}
	
	.archive_images {
		margin-top: 100px;
		position: relative;
	}
	
	.archive12 {
		width: 100%;
		position: relative;
		display: block;
		margin-right: 3.23%;
		margin-top: 0px;
		margin-bottom: 50px;
		float: left;
		height: auto;
	}
	
	.archive12:hover .archive_description_box {
		opacity: 1;
	} 
	
	.archive12:active .archive_description_box {
		opacity: 1;
	} 
	
	.archive12:focus .archive_description_box {
		opacity: 1;
	} 
	
	.archive12 img{
		width:100%;
		height: auto;
	}
	
	.archive1 {
		width:100%;
		position: relative;
		margin-right: 3.23%;
		margin-top: 0px;
		margin-bottom: 50px;
		float: left;
		height: auto;
	}
	
	.archive1:hover .archive_description_box {
		opacity: 1;
	} 
	
	.archive1:active .archive_description_box {
		opacity: 1;
	}
	
	.archive1:focus .archive_description_box {
		opacity: 1;
	}
	
	.archive1 img{
		width:100%;
		height: auto;
	}
	
	.archive_container{
		width: 100%;
		position: relative;
		margin-left: 0px;
		margin-bottom: 50px;
	}
	
	.archive_description_box {
		width: 90%;
		position: relative;
		opacity: 1;
		display: block;
		top: 0px;
		margin-left: 5%; 
		margin-right: 5%;
		margin-top: 30px;
		
		transition: none;
	    -moz-transition:  none;
	    -webkit-transition: none;
	    -o-transition:  none; 
	}
	
	.archive_description_box:hover {
		opacity: 1 !important;
	}
	
	.archive_description_box:active {
		opacity: 1 !important;
	}
	
	.archive_description_box:focus {
		opacity: 1 !important;
	}

	
	/* about and project pages */
	
	#about_page{
		margin-top: 100px;
		margin-bottom: 0px;
	}
	
	.box_left{
		position: relative;
		float: left;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0px;
		margin-left: 5%;
	}
	
	.box_right{
		position: relative;
		float: left;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0px;
		margin-left: 5%;
	}
	
	.box_12_right{
		float: left;
		width: 45%;
		margin-bottom: 0px;
		margin-right: 0px;
	}
	
	.box_12_left{
		float: left;
		width: 45%;
		margin-right: 5%;
		margin-bottom: 0px;
	}
	
	.spacing{
		display: none;
	}
	
	.titleklein {
		margin-top: 0px;
	}
	
	body#aboutpage .title {
		width: 90%;
		margin-left: 5%;
		margin-bottom: 50px;
		margin-top: 120px;
	}
	
	#meinbild {
		width: 100%;
		height: auto;
		margin-top: 0px;
	    margin: 0 auto;
	    background-image: url("images/about/meinbild_small.jpg"); 
		background-size: 100% auto;     
	    margin-top: 0px;
	    margin-bottom: 10px;
	    padding-top: 0px; 
	}
	
	#title_spacing {
		position: relative;
		height: 50px;
		width: 100%;
		padding-top: 80px;
	}
	
	.cover_image {
		width: 100%;
		height: auto;
		margin-bottom: 40px;
		margin-top: 50px;
		display: block;
	}
	
	.cover_image img{
		width: 100%;
		height: auto;
	}
	
	.tags {
		margin-bottom: 40px;
	}
	
	.description {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.year {
		margin-bottom: 30px;
		height: 50px;
		width: 100%;
		border-bottom: 1px solid black;
	}
	
	.title {
		margin-top: 50px;
		width: 100%;
	}
	
	.excerpt{
		margin-top: 50px;
		margin-bottom: 20px;
	}
	
	#project .container {
		margin-bottom: 50px;
	}
	
	.project_images img {
		margin-top: 10px;
	}
	
	#title_spacing {
		padding-top: 0px;
	}

	
	/* other projects list */ 
	
	#other_color {
		height: 0px;
		position: relative;
		margin-top: 0px;
	}
	
	.otherprojects_site .innen {
		width: 90%;
		margin-left: 5%;
		padding-bottom: 20px;
	}
	
	#project .otherprojects_site .container {
		margin-bottom: 0px;
	}
		
	sup {
		line-height: 2;
	}
	
	
	/* error */ 
	
	#error .container {
		width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	}	
} 


@media screen and (max-width: 480px){
	
	/* main headlines, paragraph, colors, background colors*/
	
	h2{
		font-size: 40px;
		letter-spacing: 0px;
	}
	
	h3 {
		font-size: 30px;
	}
	
	p {
		font-size: 16px;
	}


	/* navigation */
	
	body#index #nav {
		height: 50px !important;
	}
	
	#nav {
		height: 50px !important;
	}
	
	#logo2{
		top: 250px;
	}	


	/* main containers */
	
	body#index #inhalt {
		padding-bottom: 50px;
	}

	
	/* index and archive */
	
	.project_teaser{
		position: relative;
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		padding-left:0px;
		padding-right:0px;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_teaser_schmal{
		position: relative;
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: 20px;
		padding-left:0px;
		padding-right:0px;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_images_schmal{
		width: 100%;
		height: auto;
		margin-bottom: 0px;
		display: inline-block;
		float: left;
		overflow: hidden;
	}
	
	.project_teaser img {
		max-height: 100%;
	}
	
	.project_teaser_schmal img {
		max-height: 100%;
	}
	
	.onhover {
		margin-bottom: 0px;
	}


	/* about and project pages */
	
	.year {
		font-size: 36px;
		margin-bottom: 0px;
	}
	
	.title {
		margin-top: 0px;
	}
	
	.description {
		margin-top: -5px;
		margin-bottom: 20px;
	}
	
	#project .container {
		margin-bottom: 10px;
	}
	
	.box_12_left {
		width: 100%;
		margin-left: 0px;
	}
	
	.box_12_right {
		width: 100%;
		margin-left: 0px;
	}
	
	.box_right .box_12_right {
		width: 100%;
		margin-left: 0px;
	}
	
	.otherprojects_site .container {
		margin-top: 40px;
	}
	
	#meinbild {
		height: 450px;
	}
	
	body#aboutpage .box_right {
		margin-top: -50px;
	}
	
	#meinbild {
		width: 100%;
		height: 100%;
		margin-top: 0px;
		background-image: url("images/about/meinbild.jpg");
	}
} 

@media screen and (min-width: 480px) and (max-width: 768px){
	
	/* navigation */
	
	#navelements2{
		top: 70px;
	}	
}

@media screen and (min-width: 320px) and (max-width: 413px) and (max-height: 670px){
	
	/* navigation */
	
	#logo2{
		top: 250px;
	}
	
	#navelements2{
		top: 70px;
	}
}

@media screen and (min-width: 414px) and (max-width: 767px) and (max-height: 736px){
	
	/* navigation */
	
	#logo2{
		top: 320px;
	}
}

@media screen and (max-width: 768px) and (max-height: 1024px){
	
	/* navigation */
	
	#logo2{
		top: 250px;
		font-size: 60px;
	}
	
	#navelements2{
		top: 70px;
	}
}


@media screen and (min-width: 1281px){
	/* main headlines, paragraph, colors, background colors*/
	
	h1{
		font-family: "kepler-std-display", KeplerStd-LightDisp, Times, serif;
	    font-size: 30px;
	    letter-spacing: 1px;
	    font-weight: 300;
	    margin: 0;
	    padding: 0;
	}
	
	h2{
		font-size: 60px;
	}
	
	h3{
		font-size: 50px;
		hyphens: auto;
	}
	
	h4{
		font-size: 24px;
	}
	
	h5{
	    font-family: "futura-pt-bold",FuturaStd-Bold, Futura, sans-serif;
	    font-size: 9px;
	    letter-spacing: 4px; 
	    text-transform: uppercase;
	    font-weight: 700;
	    margin: 0;
	    padding: 0;
	}
	
	h6{
	    font-family: "futura-pt",Futura, sans-serif;
	    font-size: 9px;
	    letter-spacing: 4px; 
	    text-transform: uppercase;
	    font-weight:500;	
	    margin: 0;
	    padding: 0;
	}
	
	p {
		font-size: 16px;
	}
	

	/* navigation */
	
	#logo {
		position: fixed;
	    display: block;
	    text-align: center;
	    height: auto; 
	    width: 16%;
	    left: 42%;
	    top: 22px;
	    z-index: 61;
	    background-color: transparent;
	}
	
	#work {
		left: 5%;
	}
	
	#about {
		right: 5%;
	}
	
	#logo2 {
		top: 325px;
	}
	
	#nav {
		margin: 0 auto;
		top: 0px;
	}
	
	#nav2 {
		margin: 0 auto;
	}
	
	body#error #nav {
		margin: 0 auto;
		top: 0px;
	}
	
	body#error #nav2 {
		margin: 0 auto;
	}
	
	#navelements2{
		top: 0px;
	}

	body#index #nav.scrolled{
		margin: 0 auto;
		top: 0px;
	}
	
	
	/* main containers */
	
	.container {
		width: 90%;
		margin-left: 5%;
	}
	
	body#index #inhalt {
		width: 90.9%;
		left: 4.55%;
		min-height: 3000px;
	}
	
	.index_container {
		margin-top: 85px;
	}

	body#project .container {
		margin-bottom: 100px;
	}
	
	body#index #innen{
		top: 75vh;
	}

	
	/* index and archive */
	
	.project_teaser{
		position: relative;
		display: inline-block;
		float: left;
		width: 40%;
		margin-bottom: 15px;
		padding-left:0.5%;
		padding-right:0.5%;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_teaser_breit{
		position: relative;
		display: inline-block;
		float: left;
		width: 40%;
		margin-bottom: 15px;
		padding-left:0.5%;
		padding-right:0.5%;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_teaser_schmal{
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		margin-bottom: 15px;
		padding-left:0.5%;
		padding-right:0.5%;
		overflow: hidden;
		box-sizing: border-box;
	}
	
	.project_teaser_slim{
		position: relative;
		display: inline-block;
		float: left;
		width: 20%;
		margin-bottom: 10px;
		padding-left:0.5%;
		padding-right:0.5%;
		overflow: hidden;
		box-sizing: border-box;
	}

	.project_tile {
		display: block;
		overflow: hidden;
		width: 100%;
		margin-bottom: 0px;
		max-height: 569px;
		position: relative;
	}
	
	.project_teaser img{
		width: 100%;
		max-height: 569px;
		margin-bottom: 0px;
		display: block;
	}
	
	.project_teaser_schmal img {
		width: 100%;
		max-height: 569px;
		margin-bottom: 0px;
		display: block;
	}
	
	.project_teaser_breit img{
		width: 100%;
		max-height: 569px;
		margin-bottom: 0px;
		display: block;
	}
	
	.project_teaser_slim img {
		width: 100%;
		max-height: 569px;
		margin-bottom: 0px;
		display: block;
	}

	body#archivepage .title {
	    text-align: center;
	    width: 80%;
	    margin-left: 10%;
	    margin-top: 280px;
		margin-bottom: 200px;
	}
	
	.archive_container {
		margin-top: -100px;
		width: 91.5%;
		margin-left: 5%;
	}
	
	.archive12{
		width: 24.625%;
		margin-right: 1.5%;
		margin-top: 100px;
	}
	
	.archive1{
		width: 46.1%;
		margin-right: 1.5%;
		margin-top: 200px;
	}
	
	
	/* about and project pages */
	
	body#aboutpage .title {
	    text-align: center;
	    width: 80.5%;;
	    margin-left: 9.75%;
	    margin-top: 280px;
		margin-bottom: 200px;
	}

	.year {
		font-size: 50px;
		margin-top: 2px;
	}
	
	body#project .title {
		width: 90%;
	}
	
	.excerpt {
		margin-top: 0.3%;
	}
	
	.cover_image {
		margin-bottom: 200px;
	}
	
	body#aboutpage .box_left {
		margin-bottom: 100px;
	}
	
	body#aboutpage .box_right {
		margin-bottom: 100px;
	}
		
	#meinbild {
		width: 100%;
		height: 100%;
		margin-top: 0px;
		background-image: url('images/about/meinbild_large.jpg');
	}
}

@media screen and (min-width: 1281px) and (max-width: 1549px){
	
	/* navigation */
	
	#linieoben {
		width: 90%;
		left: 5%;
		top: 70px;
		height: 1px;
	}
	
	#linieunten {
		width: 90%;
		left: 5%;
		bottom: 70px;
		height: 1px;
	}
	
	#copyright {
		left: 5%;
		bottom: 25px;
	}
	
	#copyright2 {
		right: 5%;
		bottom: 25px;
	}		
	
}

@media screen and (min-width: 1550px){
	
	/* main headlines, paragraph, colors, background colors*/
	
	body {
		min-width: 1500px;
	}
	
	
	/* navigation */
	
	#nav {
		width: 1500px;
		top: 0px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		position: relative;
		left: 0px;
	}
	
	body#index #nav{
		
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		top: 0px;
		position: relative;
		left: 0px;
	}
	
	body#error #nav {
		width: 1500px;
		margin: 0 auto;
		top: 0px;
	}
	
	body#error #nav2 {
		width: 1500px;
		margin: 0 auto;
	}
	
	#navelements2{
		top: 120px;
	}
	
	body#index #nav.scrolled{
		width: 1500px;
		margin: 0 auto;
		top: 0px;
	}

	#nav2 {
		width: 1500px;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    position: relative;
	}
	
	#linieoben {
	    width: 1500px;
	    margin-left: auto;
	    margin-right: auto;
	    position: fixed;
	    left: auto;
	    top: 52px;	
	}
	
	#navelement{
		text-decoration: none;
	    position: fixed;
	    top: 20px;
	}
	
	#navelement_active{
		text-decoration: none;
	    position: fixed;
	    top: 20px;
	}
	
	#work {
		left: 0px;
	}
	
	#about {
		right: 60px;
	}
	
	#copyright {
		bottom: 14px;
		left: auto;
	}
	
	#copyright2 {
		bottom: 14px;
		right: 95px;
	}
	
	#logo {
		top: 12px;
	}
	
	#linieunten {
		width: 1500px;
	    margin-left: auto;
	    margin-right: auto;
	    left: auto;
	    position: fixed;
	    bottom: 52px;
	}
	
	#navelements {
		width: 1500px;
	    margin-left: auto;
	    margin-right: auto;
	    top: 20px;
	    position: relative;
	}

	
	/* main containers */
	
	body#index #inhalt{
		min-height: 3000px;
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		left: 0px;
	}
	
	body#index #innen {
		margin-left: -5px;
	}
	
	.index_container {
		width: 1510px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 285px;
	}
	
	.container {
		width: 1500px;
		margin: 0 auto;
		display: block;
	}
	
	.otherprojects_site .innen{
		width: 1500px;
		margin: 0 auto;
		padding-bottom: 50px;
		padding-top: 50px;
	}
	
	body#project #innen {
		margin-left: auto;
		margin-right: auto;
	}
	
	body#project #innen .container {
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: 200px;
		margin-bottom: 200px;
	}
	
	body#index #inhalt {
		top: -100px;
	}
	
	body#project #inhalt{
		top: -180px;
	}	

	
	/* index and archive */
	.project_teaser_breit {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
		max-height: 390px;
	}
	
	.project_teaser_slim {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
		max-height: 390px;
	}

	.archive_container {
	    margin-top: -100px;
	    width: 1510px;
	    margin-left: auto;
	    margin-right: auto;
	    left: 5px;
	}
	
	.archive1{
		width: 740px;
		margin-right: 10px;
		margin-top: 200px;
	}
	
	.archive12{
		margin-right: 10px;
		margin-top: 100px;
		width: 370px;
	}
	
	body#archive .title {
	    text-align: center;
	    width: 65%;
	    margin-left: 17.5%;
	    margin-top: 200px;
	}
	

	/* about and project pages */
	
	.cover_image {
		margin-bottom: 250px;
	}
	
	.spacing {
		height: 120px;
	}
	
	.excerpt {
		hyphens: none;
	}
	
	body#aboutpage .title {
	    text-align: center;
	    width: 80.5%;
	    margin-left: 9.75%;
	    margin-top: 200px;
	    margin-bottom: 200px;
	}


	/* other projects list */ 
	
	.otherprojects_site {
	    margin-left: auto;
		margin-right: auto;
	}
}


@media screen and (min-device-pixel-ratio: 2.0) and (min-width: 1281px), (min--moz-device-pixel-ratio: 2.0) and (min-width: 1281px), (-webkit-min-device-pixel-ratio: 2.0) and (min-width: 1281px){

	#meinbild{
		background-image: url('images/about/meinbild_large@2x.jpg');
	}
}


@media screen and (min-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px), (min--moz-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px), (-webkit-min-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px){
	
	#meinbild{
		background-image: url('images/about/meinbild_small@2x.jpg');
	}
}


@media screen and (min-device-pixel-ratio: 2.0) and (min-width:760px) and (max-width: 979px), (min--moz-device-pixel-ratio: 2.0) and (min-width:760px) and (max-width: 979px), (-webkit-min-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px){
	
	#meinbild{
		background-image: url('images/about/meinbild@2x.jpg');
	}
}


@media screen and (min-device-pixel-ratio: 2.0) and (min-width: 481px) and (max-width: 759px), (min--moz-device-pixel-ratio: 2.0) and (min-width: 481px) and (max-width: 759px), (-webkit-min-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px){
	
	#meinbild{
		background-image: url('images/about/meinbild_small@2x.jpg');
	}
}


@media screen and (min-device-pixel-ratio: 2.0) and (max-width: 480px), (min--moz-device-pixel-ratio: 2.0) and (max-width: 480px), (-webkit-min-device-pixel-ratio: 2.0) and (min-width:980px) and (max-width: 1280px){
	
	#meinbild{
		background-image: url('images/about/meinbild@2x.jpg');
	}
}