/*
------------------------------------------------------------------
MY STYLE
------------------------------------------------------------------
*/

* {
	font-family:'SuisseBPIntl-Antique';
	color: black;
	cursor: auto;
	text-decoration: none;
  }
  
  .a{
	font-size: 26.4px;
  }
  
  .ss {
	font-family:'Helvetica';
	padding-top: 1rem;
  }
  
  .ss1 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
  }
  
  .ss2 {
	font-size: 50pt;
	padding-top: 1rem;
  }
  
  .ss3 {
	font-family: 'SuisseBPIntl-AntiqueItalic';
  }
  
  .ss4 {
	font-size: 26.4px;
  }
  
  .ss5 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 45pt;
  }
  
  .ss6 {
	font-family:'SuisseBPIntl-Antique';
	font-weight: ;
	font-size: 43pt;
  }
  
  .ss7 {
	font-family:'Suisse-Intl-Light';
	font-weight: lighter;
	font-size: 26.4px;
	margin-left: 10pt;
  }
  
  .ss8 {
	font-family:'Steinbeck';
	font-size: 40px;
	text-decoration: underline;
	text-decoration-color: red;
  }
  
  .ss9 {
	font-family:'SuisseBPIntl-Antique';
	font-size: 26.4px;
	margin-left: 10pt;
  }
  
  
   /*
	------------------------------------------------------------------
	TYPEFACES
	------------------------------------------------------------------
	*/
  
	@font-face {
	  font-family: 'SuisseBPIntl-Antique';
	  src: url('fonts/SuisseBPIntl-Antique.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'SuisseBPIntl-AntiqueItalic';
	  src: url('fonts/SuisseBPIntl-AntiqueItalic.woff2') format('woff2');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Suisse-Intl-Light';
	  src: url('fonts/Suisseintllight.woff2') format('woff2');
	  font-weight: 100;
	  font-style: normal;
	  font-display: auto;
	}
  
	@font-face {
	  font-family: 'Steinbeck';
	  src: url('fonts/Steinbeck.woff') format('woff');
	  font-weight: 400;
	  font-style: normal;
	  font-display: auto;
	}
  
  
  
  .body {
	display: block;
	margin-bottom: 1rem;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	letter-spacing: -0.36px;
	line-height: 18pt;
  }
  
  .body2 {
	display: block;
	font-family: 'Helvetica';
	color: #000000;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.36px;
	line-height: 20pt;
  }
  
  /*
  ------------------------------------------------------------------
  NEW GRID
  ------------------------------------------------------------------
  */
  
  
	.div-block {
	  padding-top: 1rem;
	  cursor: auto;
	}
  }
  
  /*-- blank block footer --*/
  
  .div-block2 {
	padding-top: 2rem;
	cursor: auto;
  }
  
  /*-- blank block extra --*/
  
  .div-block3 {
	padding-top: 1rem;
	cursor: auto;
  }
  
  /*-- vertical line --*/
  .vl {
	border-left: 6px solid rgb(255, 0, 0);
	height:fit-content;
	position:static;
	left: 50%;
	margin-left:-3px;
	top: 10pt;
  }
  
  @media screen and (min-width: 600px){
	.vl {
	  width:1000;
	}
  }

  /*
  ------------------------------------------------------------------
  FADE IN OVERLAY IMAGES
  ------------------------------------------------------------------
  */
  
  .row {
	display: flex;
  }
  
  .container {
	position: relative;
	width: 100%; 
	flex: 33.33%;
	padding: 5px;
  }
  
  @media screen and (min-width: 600px){
	.container {
	  align-items: center;
	  padding-left: 25%;
	  padding-right: 25%;
	  width: 50%;
	  flex: 33.33%;
	  padding: 5px;
	  }
	}
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(255, 255, 255, 0.39);
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  }
  
  .hamburger .line {
	width: 20px;
	height: 3px;
	background-color: #000000;
	display: block;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out; }
  


 /* ------------------------------
 	INTERACTIVE GALLERY
--------------------------------*/
 
body {
	display:grid;
	place-content:center;
	min-height:100vh;
	overflow:hidden;
  }
  
  .w {
	width:80vmin;
	height:100vmin;
  }
  
  .ts {
	width:100%; height:100%;
	position:relative;
	--barH:10%;/*active zone height = 100% - barH*/
  }
  
  .t {
	--w:20%;
	display:block; width:var(--w); height:var(--barH);
	position:absolute; bottom:0; left:var(--l);
	transform-origin:top left;
  }
  
  .t img {
	dislay:block; width:100%; height:100%;
	object-fit:cover;
	transform:scale(0.8);
  }
  
  [type="radio"] { 
	display:none; 
  }
  
  :checked + label.t {
	left:0; bottom:var(--barH);
	height:calc(100% - var(--barH));
  }
  
  :checked + label.t img {
	object-fit:contain;
  }
  
  /* 
  optional
  */
  
  .ts {/*thumbnails bar*/
	perspective:100px;
	perspective-origin:center center;
	transform-style:preserve-3d;
	pointer-events:none;
  }
  
  .ts:after {/*the plate*/
	content:"";
	display:block; width:100%; height:15px;
	position:absolute; bottom:0;
	background:linear-gradient(transparent 20%, rgba(0,0,0,0.1));
	transform:rotateX(90deg)scaleX(1.2);
	transform-origin:bottom center;
  }
  
  :not(:checked) + .t {/*inactive labels*/
	transform:translate3d(0, 0, -5px);
	pointer-events:auto;
  }
  
  :not(:checked) + .t:hover {
	transform:translate3d(0, -7px, -5px);
	box-shadow:0 30px 30px -25px rgba(0,0,0,0.3);
	cursor:pointer;
  }
  
  :not(:checked) + .t img {
	transform:scale(0.9);/*create gaps*/
  }
  
  :checked + .t {/*active label*/
	box-shadow:0 0 0 transparent;
	animation:anim 2s 1;
  } @keyframes anim {
	from { transform:rotateY(6deg)rotateX(3deg) }
  }
  
  /* 
  transitions
  */
  .t {/*active->inactive & hover->rest*/
	transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 1s;
  }
  .t:hover, :checked + .t {
	transition:transform 0.5s, bottom 0.6s, left 0.6s, width 0.3s, box-shadow 0s;
  }

  