
.jpg{
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 3px;
}

.nav_title{
  margin-right: auto;
  flex-direction: row;
}


@media screen (min-width: 600px){
  .nav_items{
      flex-direction: row;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  cursor: none;
}

a {
  text-decoration: none;
  cursor: auto;
}

.navigation-links, .nav_title {
  position: relative;
  display: inline-block;
  overflow: visible;
  max-height: none;
  padding: 1.5rem 0px 1.5rem 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Panama, 'Times New Roman', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: auto;
  z-index: 990;
  display: block;
  overflow: visible;
  max-height: none;
  max-width: none;
  min-width: 100%;
  border-style: solid none;
  border-width: 1px 0px;
  border-color: #000 #000 #fff;
  border-radius: 0px;
  background-color: #000;
  cursor: none;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}


.column.right {
  padding-top: 2.2rem;
  padding-left: 0rem;
  cursor: none;
}

.column.left {
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 2.5rem;
  cursor: none;
}

.about-columns {
  margin-right: 2rem;
  margin-left: 2rem;
  cursor: none;
}

.div-block-12 {
  padding-top: 1rem;
  padding-right: 0px;
  padding-bottom: 0rem;
  cursor: auto;
}

.section {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 101px;
  padding-top: 0vh;
  padding-bottom: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info {
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  margin-left: 0rem;
  padding: 0rem 2rem 0rem 0rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0rem 1fr 0rem 1fr 0rem 1fr 0rem 1fr 0rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto 0rem auto 0rem auto 0rem auto;
  grid-template-rows: auto auto auto auto;
  cursor: none;
}

.info._2 {
  margin-right: 2rem;
  padding: 0rem;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: 0.75fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 0.75fr 1fr 1fr 1fr 1fr 1fr;
}

.work-wrapper {
  overflow: hidden;
  max-height: none;
  margin-bottom: 0px;
  background-color: transparent;
  cursor: none;
}

.work-wrapper._2 {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.marquee-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  border-style: none none solid;
  border-width: 0px 0px 1px;
  border-color: #000 #000 #fff;
  border-radius: 1px;
  line-height: 14px;
  cursor: none;
}

.marquee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0px none #000;
  border-radius: 0px;
  line-height: 200px;
  cursor: none;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  margin: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 0px;
  border-color: #0c0c0c;
  border-radius: 0px;
  line-height: 100px;
  cursor: none;
}


 /*
  ------------------------------------------------------------------
  TYPE STYLE OPTIONS
  ------------------------------------------------------------------
  */
 
.projects {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 40;
  display: block;
  overflow: hidden;
  max-width: 100%;
  border-bottom: 1px none #000;
  background-color: transparent;
  cursor: none;
}

/*
  ------------------------------------------------------------------
  TYPE STYLES
  ------------------------------------------------------------------
  */

  .body {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 0px;
    background-color: transparent;
    font-family: 'SuisseBPIntl-Antique', sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.36px;
    background-clip: border-box;
    cursor: none;
  }

  .body-2 {
    background-color: #000;
    cursor: none;
  }

  .paragraph {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 3px;
    background-color: transparent;
    font-family: Panama, 'Times New Roman', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
  }

  .paragraph-2 {
    display: block;
    margin-bottom: 0rem;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Panama, 'Times New Roman', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 27.5px;
    letter-spacing: -0.36px;
    cursor: none;
  }
 
  .paragraph-3 {
    margin-bottom: 0px;
    font-family: Panama, 'Times New Roman', sans-serif;
    color: #000;
    font-size: 34px;
    line-height: 41px;
  }

  .heading-1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0rem;
    font-family: Panama, 'Times New Roman', sans-serif;
    color: #000;
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.36px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
  }

  .heading-1.white {
    padding-top: 1.6rem;
    color: #fff;
  }

  .heading-2 {
    display: block;
    margin: 0px;
    padding-bottom: 0px;
    float: none;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 0px;
    font-family: Steinbeck, Arial, sans-serif;
    color: #000;
    font-size: 11vw;
    line-height: 1em;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.05px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    cursor: none;
  }

  .heading-2-white {
    display: block;
    margin: 0px;
    padding-bottom: 0px;
    float: none;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 0px;
    font-family: Steinbeck, Arial, sans-serif;
    color: #fff;
    font-size: 111.6px;
    line-height: 117px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    white-space: normal;
  }

  .heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Panama, 'Times New Roman', sans-serif;
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  .heading-3.about {
    margin-bottom: 3vh;
    padding-top: 5px;
    font-family: Steinbeck, Arial, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-decoration: underline;
    cursor: none;
  }

  .heading-4 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: Steinbeck, Arial, sans-serif;
    color: #000;
    font-size: 46px;
    line-height: 46px;
    font-weight: 400;
    letter-spacing: 0.05px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: none;
  }

  .heading-5 {
    margin-top: 0px;
    margin-bottom: 1.5rem;
    font-family: Steinbeck, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: auto;
  }

  .text-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'IBM Plex Mono', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 0px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: auto;
  }

 /*
  ------------------------------------------------------------------
  Main Body—linked to Typefaces + Defined Grid Layout
  ------------------------------------------------------------------
  */

@media screen and (min-width: 1920px) {
  .element class="3.jpg" {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (min-width: 1440px) {
  #paragraph-1.w-node-_6aed60b7-2e3a-248b-ebe9-82ac4a6e420c-eea069b8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_334e7ee2-bfda-07fd-72c1-d3f7ad62d4ac-d7a069b7 {
    -ms-grid-column: span 5.937500476837158;
    grid-column-start: span 5.937500476837158;
    -ms-grid-column-span: 5.937500476837158;
    grid-column-end: span 5.937500476837158;
    -ms-grid-row: span 0.9895833730697632;
    grid-row-start: span 0.9895833730697632;
    -ms-grid-row-span: 0.9895833730697632;
    grid-row-end: span 0.9895833730697632;
  }

  #w-node-cdefb84a-bea1-948e-52c0-b37aef36bd3a-ef36bd38 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-cdefb84a-bea1-948e-52c0-b37aef36bd4a-ef36bd38 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-edf9729a-3647-a2f5-41ca-38375cfc038d-d7a069b7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 5;
    grid-column-start: span 5;
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  #w-node-b9d06dc1-4479-37f0-f434-0cabe38c06b7-d7a069b7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 5;
    grid-column-start: span 5;
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ea7c16a2-9e5b-3dac-82b2-ab7ddc54332d-d7a069b7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-b51c647e-b780-f27d-27cc-bbcfbe972ed7-d7a069b7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-_334e7ee2-bfda-07fd-72c1-d3f7ad62d4ac-d7a069b7 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
  }

  #w-node-ff6d5911-c414-61d2-b05c-bb4435f1f6b7-eea069b8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

#w-node-f3b19a2c-8e9c-5437-5a3e-88b2ef59d865-d7a069b7 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-_5878e582-1f8d-31c3-08c0-afc67510dd0c-d7a069b7 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-ea7c16a2-9e5b-3dac-82b2-ab7ddc54332d-d7a069b7 {
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-b51c647e-b780-f27d-27cc-bbcfbe972ed7-d7a069b7 {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-_334e7ee2-bfda-07fd-72c1-d3f7ad62d4ac-d7a069b7 {
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 6;
  grid-column-end: 7;
}

#w-node-de2c0e0c-ee06-cf5d-c4bd-8ff38495301f-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-e7fad251-04ae-3883-9461-b12af59eb9d0-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-edf9729a-3647-a2f5-41ca-38375cfc038d-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-a68ca4b4-1f0f-97b5-7356-2601c9b4bd57-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-_4bd91b3f-7c79-3dd5-e5c3-73fc0dea7f5f-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-d2ebe0a1-780c-13e9-d6ab-86c540f3b74e-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-_6f6f890b-124e-37b7-a793-6a89cae84a4d-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-_0c0c07f8-9d8d-d161-025f-a5fce006fc24-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-e012089f-2873-e11b-35f6-76020c00178e-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-fc5d699f-d402-d360-bcfa-cfb90165c826-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-d7a0c532-9e0e-fa6c-a4f5-f216a107ad22-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-c23e0d58-d462-061a-8dca-01b6136c9a69-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-d693d75e-2106-1bc5-3fc7-62782b374590-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-b9d06dc1-4479-37f0-f434-0cabe38c06b7-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-_90109402-c75c-cc27-865a-d1883d9229e3-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-_7bcdb4a1-9ef8-5db5-4cd7-19dbb32fab7b-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-cccb606e-07ad-e70a-ad1c-c1ae1a8f512f-d7a069b7 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 6;
  grid-column-start: span 6;
  -ms-grid-column-span: 6;
  grid-column-end: span 6;
}

#w-node-d5078f1f-fa41-aded-2af8-f26c13162335-ef36bd38 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-cdefb84a-bea1-948e-52c0-b37aef36bd3a-ef36bd38 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-cdefb84a-bea1-948e-52c0-b37aef36bd4a-ef36bd38 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#flora.w-node-_6aed60b7-2e3a-248b-ebe9-82ac4a6e420a-eea069b8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#paragraph-1.w-node-_6aed60b7-2e3a-248b-ebe9-82ac4a6e420c-eea069b8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ff6d5911-c414-61d2-b05c-bb4435f1f6b7-eea069b8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-df632061-e131-996f-4042-02752ad707b0-eea069b8 {
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}
        
   
  @font-face {
    font-family: 'Suisseintl webfont';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f478fcf8af7b215f6e3a63d_suisseintl-regular-webfont.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f478fcfa890d7c374fe4d0f_suisseintl-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Suisseintl webfont';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f478fcf0744f531ee1a8578_suisseintl-light-webfont.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f478fcf9be07aeb6669bb46_suisseintl-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Panama';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f1177c365268d79f9fbd02e_Panama-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Attilasansbasic';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f117c1ae5a66e5e0f19f666_AttilaSansBasic-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Timesnow';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f1eaecfc892d8a8783852b2_TimesNow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Steinbeck';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f3afb7c8765116500957169_Steinbeck-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }
  @font-face {
    font-family: 'Suisseworks webfont';
    src: url('https://uploads-ssl.webflow.com/5f044eb74de0375a68d25ef2/5f478f46ff30c0b676b780d4_suisseworks-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
  }


 /*
  ------------------------------------------------------------------
  Header
  ------------------------------------------------------------------
  */

  .ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--white-20 {
    border-color: rgba(255, 255, 255, .2);
}

.b--white-10 {
    border-color: rgba(255, 255, 255, .1);
}

.br-pill {
    border-radius: 9999px;
}

.dib {
    display: inline-block;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.h1 {
    height: 1rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.w1 {
    width: 1rem;
}

.white-70 {
    color: rgba(255, 255, 255, .7);
}

.white {
    color: #fff;
}

.hover-black:hover {
    color: #000;
}

.hover-black:focus {
    color: #000;
}

.hover-white:hover {
    color: #fff;
}

.hover-white:focus {
    color: #fff;
}

.hover-bg-white:hover {
    background-color: #fff;
}

.hover-bg-white:focus {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.mr3 {
    margin-right: 1rem;
}

.no-underline {
    text-decoration: none;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

.bg-animate, .bg-animate:hover, .bg-animate:focus {
    transition: background-color .15s ease-in-out;
}

@media screen and (min-width: 30em) {
    .mr4-ns {
        margin-right: 2rem;
    }
}

.footer-tablet {
  padding: 0px 2rem;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  -ms-grid-columns: 0.5fr 0.5fr 1fr;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  -ms-grid-rows: minmax(auto, 1fr) auto;
  grid-template-rows: minmax(auto, 1fr) auto;
  border-top: 1px solid #000;
  border-radius: 0px;
  background-color: transparent;
  cursor: none;
}

.footer-section-tablet {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 100;
  border-top: 1px solid #000;
  background-color: rgb(0, 0, 0);
  cursor: none;
}

.footer-tablet {
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr 1fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
}

/*
     LINE HEIGHT / LEADING
     Docs: http://tachyons.io/docs/typography/line-height
     Media Query Extensions:
       -ns = not-small
       -m  = medium
       -l  = large
  */
  .lh-solid {
    line-height: 1; }
  
  .lh-title {
    line-height: 1.25; }
  
  .lh-copy {
    line-height: 1.5; }
  
  @media screen and (min-width: 30em) {
    .lh-solid-ns {
      line-height: 1; }
    .lh-title-ns {
      line-height: 1.25; }
    .lh-copy-ns {
      line-height: 1.5; } }
  
  @media screen and (min-width: 30em) and (max-width: 60em) {
    .lh-solid-m {
      line-height: 1; }
    .lh-title-m {
      line-height: 1.25; }
    .lh-copy-m {
      line-height: 1.5; } }
  
  @media screen and (min-width: 60em) {
    .lh-solid-l {
      line-height: 1; }
    .lh-title-l {
      line-height: 1.25; }
    .lh-copy-l {
      line-height: 1.5; } }

      
      .dib {
        display: inline-block;
    }
    
    .b {
        font-weight: bold;
    }
    
    .link {
        text-decoration: none;
        transition: color .15s ease-in;
    }
    
    .link:link, .link:visited {
        transition: color .15s ease-in;
    }
    
    .link:hover {
        transition: color .15s ease-in;
    }
    
    .link:active {
        transition: color .15s ease-in;
    }
    
    .link:focus {
        transition: color .15s ease-in;
        outline: 1px dotted currentColor;
    }
    
    .black {
        color: #000;
    }
    
    .gray {
        color: #777;
    }
    
    .pa3 {
        padding: 1rem;
    }
    
    .mr3 {
        margin-right: 1rem;
    }
    
    .f6 {
        font-size: .875rem;
    }
    
    .dim {
        opacity: 1;
        transition: opacity .15s ease-in;
    }
    
    .dim:hover, .dim:focus {
        opacity: .5;
        transition: opacity .15s ease-in;
    }
    
    .dim:active {
        opacity: .8;
        transition: opacity .15s ease-out;
    }
    
    @media screen and (min-width: 30em) {
        .pa4-ns {
            padding: 2rem;
        }
    
        .f5-ns {
            font-size: 1rem;
        }
    }

    .lh-copy {
      line-height: 1.5;
  }
  
  .pa3 {
      padding: 1rem;
  }
  
  .f3 {
      font-size: 1.5rem;
  }
  
  .measure {
      max-width: 30em;
  }
  
  @media screen and (min-width: 30em) {
      .pa5-ns {
          padding: 4rem;
      }
  }
  
  @media screen and (min-width: 30em) and (max-width: 60em) {
      .f1-m {
          font-size: 3rem;
      }
  }
  
  @media screen and (min-width: 60em) {
      .f-headline-l {
          font-size: 6rem;
      }
  }
    

  .cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.black {
    color: #000;
}

.pa2 {
    padding: .5rem;
}

.pv2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.no-underline {
    text-decoration: none;
}

.grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(.9);
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }

    .w-50-ns {
        width: 50%;
    }
}
