

.poster {
  font-size: 14pt;
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 100%;
    height: 100vh;
    background hsl(26, 11%, 87%);
  }

.textblock {
    grid-column: 6/28;
    grid-row-end: 5;
  }
.textblock__caption {
    font-size: 12pt;
  }